datos_estadisticos/*
graficas/*
catalogos/*
mapas/*
log/*
salidas/*

!datos_estadisticos/.gitkeep
!graficas/.gitkeep
!catalogos/.gitkeep
!mapas/.gitkeep
!log/.gitkeep
!salidas/.gitkeep

__pycache__/
*.pyc
*.aux
*.log
*.out
*.toc
*.synctex.gz
