DEMOGRAFIA_MAPS_MIGRACION_URL=https://drive.google.com/file/d/<file_id>/view?usp=sharing
DEMOGRAFIA_MAPS_POBREZA_URL=https://drive.google.com/file/d/<file_id>/view?usp=sharing
DEMOGRAFIA_MAPS_MARGINACION_URL=https://drive.google.com/file/d/<file_id>/view?usp=sharing
DEMOGRAFIA_MAPS_QUALITY=full
