\clearpage
\thispagestyle{empty}
\phantomsection
\addcontentsline{toc}{section}{Demografía y sociedad}
\AddToShipoutPictureBG*{%
  \AtPageUpperLeft{\raisebox{-\height}{\includegraphics[width=\paperwidth]{<< assets_path >>portadilla.png}}}%
  \AtPageLowerLeft{\includegraphics[width=\paperwidth]{<< assets_path >>footer_section.png}}%
}
\vspace*{\stretch{1}}
\begin{center}
  {\color{colorSeccion}\garetextrabold\fontsize{36}{40}\selectfont Demografía y sociedad}\\[1.4cm]
  {\color{colorTexto}\garetmedium\fontsize{14}{18}\selectfont
   \addfontfeature{LetterSpace=22.0}\MakeUppercase{<< de_municipio_nombre >>}}\\[3.6cm]
  {\color{colorTexto}\garetextrabold\fontsize{16}{20}\selectfont
   \addfontfeature{LetterSpace=22.0}AGOSTO 2026}
\end{center}
\vspace*{\stretch{2}}
\clearpage

\subsection{Aspectos demográficos}

Conforme a la información del Censo de Población y Vivienda 2020 que publicó INEGI,
el municipio de << de_municipio_nombre >> tenía una población de << de_poblacion_total_censo >>
personas en << de_anio_censo >>, de las cuales el << de_porcentaje_hombres >> eran
hombres y << de_porcentaje_mujeres >> mujeres.

En comparación con la población que tenía << de_municipio_nombre >> en << de_anio_encuesta_intercensal >>,
se observa una variación de << de_variacion_poblacion_quinquenio_anterior >> personas, que representa una
variación relativa de << de_variacion_porcentual_poblacion_quinquenio_anterior >> en cinco años.

En comparación con << de_anio_censo_anterior >>, la población municipal tuvo una variación de
<< de_variacion_poblacion_quinquenio >> personas, representando una variación de
<< de_variacion_porcentual_poblacion_quinquenio >> \% de << de_anio_censo_anterior >> a << de_anio_censo >>.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.21\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.21\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Población total de << de_municipio_nombre >> y variación porcentual según sexo} \\
<< de_anio_censo_anterior >>, << de_anio_encuesta_intercensal >> y << de_anio_censo >>}
\label{cuadro_poblacion_total_sexo} \\

\hline

\rowcolor{gray!30}
 & \thhl{0.14}{<< de_anio_censo_anterior >>} & \thhl{0.14}{<< de_anio_encuesta_intercensal >>} & \thhl{0.14}{<< de_anio_censo >>}
 & \thhl{0.21}{Variación (\%)\newline << de_anio_censo_anterior >>--<< de_anio_encuesta_intercensal >>}
 & \thhl{0.21}{Variación (\%)\newline << de_anio_encuesta_intercensal >>--<< de_anio_censo >>} \\
\hline
\endfirsthead

\multicolumn{6}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
 & \thhl{0.14}{<< de_anio_censo_anterior >>} & \thhl{0.14}{<< de_anio_encuesta_intercensal >>} & \thhl{0.14}{<< de_anio_censo >>}
 & \thhl{0.21}{Variación (\%)\newline << de_anio_censo_anterior >>--<< de_anio_encuesta_intercensal >>}
 & \thhl{0.21}{Variación (\%)\newline << de_anio_encuesta_intercensal >>--<< de_anio_censo >>} \\
\hline
\endhead

\hline
\multicolumn{6}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{Total} & \thdr{<< de_tabla_pob_total_2010 >>} & \thdr{<< de_tabla_pob_total_2015 >>} & \thdr{<< de_tabla_pob_total_2020 >>}
& \thdr{<< de_tabla_pob_var_pct_total_2010_2015 >>} & \thdr{<< de_tabla_pob_var_pct_total_2015_2020 >>} \\
\hline

Mujeres & << de_tabla_pob_mujeres_2010 >> & << de_tabla_pob_mujeres_2015 >> & << de_tabla_pob_mujeres_2020 >>
& << de_tabla_pob_var_pct_mujeres_2010_2015 >> & << de_tabla_pob_var_pct_mujeres_2015_2020 >> \\
\hline

Hombres & << de_tabla_pob_hombres_2010 >> & << de_tabla_pob_hombres_2015 >> & << de_tabla_pob_hombres_2020 >>
& << de_tabla_pob_var_pct_hombres_2010_2015 >> & << de_tabla_pob_var_pct_hombres_2015_2020 >> \\
\hline


\end{longtable}
\normalsize
\tablefooter{Fuente: & INEGI, Censo de Población y Vivienda, << de_anio_censo_anterior >> y << de_anio_censo >>.\\
& INEGI, Encuesta Intercensal, << de_anio_encuesta_intercensal >>.}

Las personas habitantes del municipio de << de_municipio_nombre >> representaron
el << de_porcentaje_habitantes_region >> \% del total de la
<< nombre_region >> en << de_anio_censo >> y el << de_porcentaje_habitantes_jalisco >> \%
del total de la población del estado de Jalisco en ese mismo año.


\newpage

En << de_anio_censo >>, << de_municipio_nombre >> contaba con << de_numero_localidades >>
localidades. La localidad de << de_loc_mas_poblada >> era la más poblada en el municipio con
<< de_loc_mas_poblada_habitantes >> personas, concentrando el << de_porcentaje_habitantes_loc_mas_poblada >>
de la población del municipio.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.11\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.19\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.19\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.19\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Número de habitantes, distribución y variación porcentual en localidades de << de_municipio_nombre >>} \\
<< de_anio_censo_anterior >> y << de_anio_censo >>}
\label{cuadro_localidades_mas_pobladas} \\

\hline
\rowcolor{gray!30}
\thh{0.11}{Clave} & \thh{0.19}{Municipio/\newline Localidad} &
\thhl{0.16}{Población\newline << de_anio_censo_anterior >>} &
\thhl{0.16}{Población\newline << de_anio_censo >>} &
\thhl{0.19}{Distribución (\%)\newline << de_anio_censo >>} &
\thhl{0.19}{Variación (\%) \newline << de_anio_censo_anterior >>--<< de_anio_censo >>} \\
\hline
\endfirsthead

\multicolumn{6}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.11}{Clave} & \thh{0.19}{Municipio/\newline Localidad} &
\thhl{0.16}{Población\newline << de_anio_censo_anterior >>} &
\thhl{0.16}{Población\newline << de_anio_censo >>} &
\thhl{0.19}{\% Distribución\newline << de_anio_censo >>} &
\thhl{0.19}{\% Variación\newline << de_anio_censo_anterior >>--<< de_anio_censo >>} \\
\hline
\endhead

\hline
\multicolumn{6}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdl{<< de_clave_municipio >>} & \thdl{<< de_municipio_nombre >>} & \thdr{<< de_tabla_pob_total_2010 >>} & \thdr{<< de_tabla_pob_total_2020 >>} & \thdr{100.00} & \thdr{<< de_variacion_porcentual_poblacion_quinquenio >>} \\
\hline
<% for loc in de_localidades %>
<< loc.clave >> & << loc.nombre >> & << loc.total_2010 >> & << loc.total_2020 >> & << loc.pct_2020 >> & << loc.var_pct_2010_2020 >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\tablefooter{Nota: & Se presenta la información para las cinco localidades más pobladas de << de_municipio_nombre >>.\\
<% if de_localidades_tiene_na %> ND: & No disponible.\\<% endif %>
Fuente: & INEGI. Censo de Población y Vivienda, << de_anio_censo_anterior >> y << de_anio_censo >>.}

\newpage

\subsection{Intensidad migratoria}

El Índice de Intensidad Migratoria México-Estados Unidos << de_anio_censo >>, que publicó el
Consejo Nacional de Población (CONAPO), mide de manera sintética el fenómeno migratorio
entre ambos países.

De acuerdo con este índice, Jalisco se clasificó con un grado << de_grado_intensidad_migratoria_jal >>
de intensidad migratoria, ocupando el lugar << de_ranking_jal_migracion >> a nivel nacional en << de_anio_censo >>.

Conforme a los datos procesados para la estimación del índice, en << de_anio_censo >> un
<< de_porcentaje_viviendas_remesas_jal >> de viviendas de Jalisco recibían remesas, un
<< de_porcentaje_emigrantes_jal >> de viviendas tenían emigrantes residentes en Estados Unidos, un << de_porcentaje_migrantes_circulares_jal >> de viviendas tenían
migrantes circulares y un << de_porcentaje_migrantes_retorno_jal >> de las viviendas contaban con
migrantes de retorno de Estados Unidos.

En << de_anio_censo >> el municipio de << de_municipio_nombre >> tuvo un grado
<< de_grado_intensidad_migratoria_mun >> de intensidad migratoria y se ubicó en el lugar
<< de_ranking_mun_migracion >> en intensidad migratoria dentro de los municipios del estado
de Jalisco. Durante ese año, un << de_porcentaje_viviendas_remesas_mun >> de las viviendas
del municipio recibieron remesas, en un << de_porcentaje_emigrantes_mun >> se reportaron emigrantes residentes en Estados Unidos, en el << de_porcentaje_migrantes_circulares_mun >>\,\%
de las viviendas se registraron migrantes circulares del quinquenio anterior (<< de_anio_encuesta_intercensal >>
--<< de_anio_censo >>) y el << de_porcentaje_migrantes_retorno_mun >> de las viviendas
contaban con migrantes de retorno de Estados Unidos (ver cuadro \ref{cuadro_intensidad_migratoria_eua}).

En el cálculo del índice del año << de_anio_censo_anterior >>, << de_municipio_nombre >>
tenía un grado << de_grado_intensidad_migratoria_anterior_mun >> de intensidad migratoria y ocupaba
el lugar << de_ranking_anterior_mun_migracion >> a nivel estatal.

\newpage

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.68\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Grado de Intensidad Migratoria México - Estados Unidos en << de_municipio_nombre >>} \\
<< de_anio_censo_anterior >> y << de_anio_censo >>}
\label{cuadro_intensidad_migratoria_eua} \\

\hline
\rowcolor{gray!30}
\thh{0.68}{Grado de intensidad migratoria e indicadores socioeconómicos} & \thhl{0.16}{<< de_anio_censo_anterior >>} & \thhl{0.16}{<< de_anio_censo >>} \\
\hline
\endfirsthead

\multicolumn{3}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.68}{Grado de intensidad migratoria e indicadores socioeconómicos} & \thhl{0.16}{<< de_anio_censo_anterior >>} & \thhl{0.16}{<< de_anio_censo >>} \\
\hline
\endhead

\hline
\multicolumn{3}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

Grado de intensidad migratoria & << de_grado_intensidad_migratoria_anterior_mun >> & << de_grado_intensidad_migratoria_mun >> \\
\hline
Total de viviendas & << de_viv_totales_mun_2010 >> & << de_viv_totales_mun_2020 >> \\
\hline
\% Viviendas que reciben remesas & << de_por_viv_remesas_mun_2010 >> & << de_por_viv_remesas_mun_2020 >> \\
\hline
\% Viviendas con emigrantes con destino a Estados Unidos & << de_por_viv_emigrantes_mun_2010 >> & << de_por_viv_emigrantes_mun_2020 >> \\
\hline
\% Viviendas con migrantes circulares de Estados Unidos & << de_porcentaje_migrantes_circulares_anterior_mun >> & << de_porcentaje_migrantes_circulares_mun >> \\
\hline
\% Viviendas con migrantes de retorno de Estados Unidos & << de_por_viv_retorno_mun_2010 >> & << de_por_viv_retorno_mun_2020 >> \\
\hline
Posición que ocupa el municipio en la entidad & << de_ranking_anterior_mun_migracion >> & << de_ranking_mun_migracion >> \\
\hline
Posición que ocupa el municipio a escala nacional & << de_ranking_nacional_mun_migracion_2010 >> & << de_ranking_nacional_mun_migracion >> \\
\hline

\end{longtable}
\normalsize
\tablefooter{Nota: & Los indicadores hacen referencia al quinquenio anterior referido a << de_anio_encuesta_intercensal_anterior >>--<< de_anio_censo_anterior >> y << de_anio_encuesta_intercensal >>--<< de_anio_censo >>.\\
Fuente: & CONAPO. Índice de Intensidad Migratoria México-Estados Unidos, << de_anio_censo_anterior >> y << de_anio_censo >> (actualizada el 24 de noviembre de 2025).\footnotemark}
\footnotetext{Algunas bases de datos utilizadas incluyen actualizaciones retroactivas por lo que parte de la información histórica fue sujeta a cambios.}

\newpage
<< de_mapa_grado_intensidad_migratoria >>
\newpage

\subsection{Pobreza multidimensional}

La metodología para medir el fenómeno de la pobreza fue desarrollada por el Consejo Nacional
de Evaluación de la Política de Desarrollo Social (CONEVAL) y permite profundizar en el estudio
de la pobreza considerando tanto los ingresos como las carencias sociales desde una óptica
de los derechos sociales.

De acuerdo con esta concepción, una persona se considera en situación de pobreza multidimensional
cuando sus ingresos son insuficientes para adquirir los bienes y servicios que se requieren para
satisfacer las necesidades básicas, y que además presenta carencia en al menos uno de los
siguientes seis indicadores: rezago educativo, acceso a los servicios de salud, acceso a la
seguridad social, calidad y espacios de la vivienda, servicios básicos en la vivienda, y
acceso a la alimentación.

Conforme a la medición de pobreza multidimensional de << de_anio_censo >>,
el << de_porcentaje_pobreza >> de la población
de << de_municipio_nombre >> se encontraba en situación de pobreza.
El << de_porcentaje_vulnerabilidad_carencias >> de la población de
<< de_municipio_nombre >> era vulnerable
por carencias sociales\footnote{Vulnerables por carencias sociales se refiere a
la población que presenta una o más carencias sociales, pero cuyo ingreso es
superior a la línea de bienestar.}, el << de_porcentaje_vulnerabilidad_ingresos >>
era vulnerable por ingresos\footnote{Vulnerables por ingresos se refiere
a la población que no presenta carencias sociales y cuyo ingreso es inferior o igual
a la línea de bienestar.} y << de_porcentaje_no_pobre_no_vulnerable >>
era no pobre y no vulnerable\footnote{No pobre multidimensional y no
vulnerable se refiere a la población cuyo ingreso es superior a la línea de bienestar
y que no tiene carencia social alguna.}.

En << de_anio_censo >>, el << de_porcentaje_pobreza_extrema >> de la
población de << de_municipio_nombre >> se encontraba en pobreza extrema\footnote{Pobreza
extrema se refiere a la población que tiene tres o más carencias sociales y su ingreso
es inferior al valor de la línea de pobreza extrema por ingresos.};
en contraste con el << de_porcentaje_pobreza_extrema_intercensal >> que se presentó
en << de_anio_encuesta_intercensal >>. En << de_anio_censo >> un
<< de_porcentaje_pobreza_moderada >> de la
población estaba en pobreza moderada, mientras que en
<< de_anio_encuesta_intercensal >> la proporción fue de
<< de_porcentaje_pobreza_moderada_intercensal >>.

En el cuadro \ref{cuadro_pobreza_multidimensional} se muestra
el porcentaje y número de personas en situación de pobreza
en << de_anio_encuesta_intercensal >> y << de_anio_censo >> en el municipio,
así como la población vulnerable por carencias sociales, la vulnerable por ingresos y
la no pobre y no vulnerable.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.28\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Indicadores de pobreza multidimensional en << de_municipio_nombre >>} \\ << de_anio_encuesta_intercensal >> y << de_anio_censo >>}
\label{cuadro_pobreza_multidimensional} \\

\hline
\rowcolor{gray!30}
\thh{0.28}{Indicadores de incidencia} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\textbf{Porcentaje}} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\textbf{Personas}} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\textbf{Carencias promedio}} \\
\cline{2-7}
\rowcolor{gray!30}
 & \thhl{0.12}{<< de_anio_encuesta_intercensal >>} & \thhl{0.12}{<< de_anio_censo >>} & \thhl{0.12}{<< de_anio_encuesta_intercensal >>} & \thhl{0.12}{<< de_anio_censo >>} & \thhl{0.12}{<< de_anio_encuesta_intercensal >>} & \thhl{0.12}{<< de_anio_censo >>} \\
\hline
\endfirsthead

\multicolumn{7}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.28}{Indicadores de incidencia} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\textbf{Porcentaje}} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\textbf{Personas}} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\textbf{Carencias promedio}} \\
\cline{2-7}
\rowcolor{gray!30}
 & \thhl{0.12}{<< de_anio_encuesta_intercensal >>} & \thhl{0.12}{<< de_anio_censo >>} & \thhl{0.12}{<< de_anio_encuesta_intercensal >>} & \thhl{0.12}{<< de_anio_censo >>} & \thhl{0.12}{<< de_anio_encuesta_intercensal >>} & \thhl{0.12}{<< de_anio_censo >>} \\
\hline
\endhead

\hline
\multicolumn{7}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{Pobreza multidimensional} & & & & & & \\
\hline

Población en situación de pobreza multidimensional
& << de_pobreza_pct_2015 >> & << de_pobreza_pct_2020 >> & << de_pobreza_prs_2015 >> & << de_pobreza_prs_2020 >> & << de_pobreza_prom_2015 >> & << de_pobreza_prom_2020 >> \\
\hline

Población en situación de pobreza multidimensional moderada
& << de_pobreza_mod_pct_2015 >> & << de_pobreza_mod_pct_2020 >> & << de_pobreza_mod_prs_2015 >> & << de_pobreza_mod_prs_2020 >> & << de_pobreza_mod_prom_2015 >> & << de_pobreza_mod_prom_2020 >> \\
\hline

Población en situación de pobreza multidimensional extrema
& << de_pobreza_ext_pct_2015 >> & << de_pobreza_ext_pct_2020 >> & << de_pobreza_ext_prs_2015 >> & << de_pobreza_ext_prs_2020 >> & << de_pobreza_ext_prom_2015 >> & << de_pobreza_ext_prom_2020 >> \\
\hline

Población vulnerable por carencias sociales
& << de_vul_carencia_pct_2015 >> & << de_vul_carencia_pct_2020 >> & << de_vul_carencia_prs_2015 >> & << de_vul_carencia_prs_2020 >> & << de_vul_carencia_prom_2015 >> & << de_vul_carencia_prom_2020 >> \\
\hline

Población vulnerable por ingresos
& << de_vul_ingreso_pct_2015 >> & << de_vul_ingreso_pct_2020 >> & << de_vul_ingreso_prs_2015 >> & << de_vul_ingreso_prs_2020 >> & ND & ND \\
\hline

Población no pobre multidimensional y no vulnerable
& << de_no_pobre_pct_2015 >> & << de_no_pobre_pct_2020 >> & << de_no_pobre_prs_2015 >> & << de_no_pobre_prs_2020 >> & ND & ND \\
\hline

\rowcolor{filaResaltada}
\thdr{Privación social} & & & & & & \\
\hline

Población con al menos una carencia social
& << de_al_1_car_pct_2015 >> & << de_al_1_car_pct_2020 >> & << de_al_1_car_prs_2015 >> & << de_al_1_car_prs_2020 >> & << de_al_1_car_prom_2015 >> & << de_al_1_car_prom_2020 >> \\
\hline

Población con al menos tres carencias sociales
& << de_tres_mas_car_pct_2015 >> & << de_tres_mas_car_pct_2020 >> & << de_tres_mas_car_prs_2015 >> & << de_tres_mas_car_prs_2020 >> & << de_tres_mas_car_prom_2015 >> & << de_tres_mas_car_prom_2020 >> \\
\hline

\rowcolor{filaResaltada}
\thdr{Indicadores de carencia social} & & & & & & \\
\hline

Rezago educativo
& << de_rez_edu_pct_2015 >> & << de_rez_edu_pct_2020 >> & << de_rez_edu_prs_2015 >> & << de_rez_edu_prs_2020 >> & << de_rez_edu_prom_2015 >> & << de_rez_edu_prom_2020 >> \\
\hline

Acceso a los servicios de salud
& << de_car_salud_pct_2015 >> & << de_car_salud_pct_2020 >> & << de_car_salud_prs_2015 >> & << de_car_salud_prs_2020 >> & << de_car_salud_prom_2015 >> & << de_car_salud_prom_2020 >> \\
\hline

Acceso a la seguridad social
& << de_car_seg_soc_pct_2015 >> & << de_car_seg_soc_pct_2020 >> & << de_car_seg_soc_prs_2015 >> & << de_car_seg_soc_prs_2020 >> & << de_car_seg_soc_prom_2015 >> & << de_car_seg_soc_prom_2020 >> \\
\hline

Calidad y espacios de la vivienda
& << de_car_viv_pct_2015 >> & << de_car_viv_pct_2020 >> & << de_car_viv_prs_2015 >> & << de_car_viv_prs_2020 >> & << de_car_viv_prom_2015 >> & << de_car_viv_prom_2020 >> \\
\hline

Acceso a los servicios básicos en la vivienda
& << de_car_sbv_pct_2015 >> & << de_car_sbv_pct_2020 >> & << de_car_sbv_prs_2015 >> & << de_car_sbv_prs_2020 >> & << de_car_sbv_prom_2015 >> & << de_car_sbv_prom_2020 >> \\
\hline

Acceso a la alimentación
& << de_car_ali_pct_2015 >> & << de_car_ali_pct_2020 >> & << de_car_ali_prs_2015 >> & << de_car_ali_prs_2020 >> & << de_car_ali_prom_2015 >> & << de_car_ali_prom_2020 >> \\
\hline

\rowcolor{filaResaltada}
\thdr{Bienestar} & & & & & & \\
\hline

Población con un ingreso inferior a la línea de bienestar mínimo
& << de_lpei_pct_2015 >> & << de_lpei_pct_2020 >> & << de_lpei_prs_2015 >> & << de_lpei_prs_2020 >> & << de_lpei_prom_2015 >> & << de_lpei_prom_2020 >> \\
\hline

Población con un ingreso inferior a la línea de bienestar
& << de_lpi_pct_2015 >> & << de_lpi_pct_2020 >> & << de_lpi_prs_2015 >> & << de_lpi_prs_2020 >> & << de_lpi_prom_2015 >> & << de_lpi_prom_2020 >> \\
\hline

\end{longtable}
\normalsize
\renewcommand{\arraystretch}{1.5}
\tablefooter{Nota: & La población presentada en este cuadro y en el mapa \ref{mapa_pobreza_multidimensional}, tienen un propósito exclusivamente estadístico: CONEVAL calibró para que, en las estimaciones de pobreza, la suma de la población municipal sea igual a la población de cada entidad federativa reportada con base en la información del MCS-ENIGH 2010, MEC del MCS-ENIGH 2015 o MEC del MCS-ENIGH 2020 publicados. Por lo anterior, estas cifras de población podrían diferir de las reportadas por el INEGI o CONAPO a nivel municipal.\\
ND: & No disponible.\\
Fuente: & CONEVAL. Medición de pobreza a nivel municipal, << de_anio_encuesta_intercensal >> y << de_anio_censo >>.}


\newpage
<< de_mapa_porcentaje_pobreza_multidimensional >>
\newpage

\subsection{Marginación}

El Consejo Nacional de Población  publica el Índice de Marginación como una medida resumen
que permite diferenciar los estados y municipios del país según el impacto global de las
carencias que padece la población, considerando cuatro dimensiones estructurales: falta de
acceso a la educación, residencia en viviendas inadecuadas, percepción de ingresos monetarios
insuficientes y las relacionadas con la residencia en localidades pequeñas. De acuerdo con
las estimaciones de << de_anio_censo >> del Índice de Marginación, Jalisco
presentó un grado de marginación << de_grado_marginacion_jalisco >> en << de_anio_censo >>.

En << de_anio_censo >> el municipio de << de_municipio_nombre >> presentó
un grado de marginación << de_grado_marginacion_municipio >>, colocándose en el
lugar << de_ranking_marginacion_municipio >> dentro de los municipios de la entidad.

El cuadro \ref{cuadro_marginacion_indicadores} presenta la evolución que ha tenido el municipio en
las tres mediciones del índice de marginación, tanto en el valor general del índice como en los
indicadores que lo componen.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.58\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Grado de marginación e indicadores sociodemográficos en
<< de_municipio_nombre >>} \\
<< de_anio_censo_anterior >>, << de_anio_encuesta_intercensal >> y << de_anio_censo >>}
\label{cuadro_marginacion_indicadores} \\

\hline
\rowcolor{gray!30}
 & \thhl{0.14}{<< de_anio_censo_anterior >>} & \thhl{0.14}{<< de_anio_encuesta_intercensal >>} & \thhl{0.14}{<< de_anio_censo >>} \\
\hline
\endfirsthead

\multicolumn{4}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
 & \thhl{0.14}{<< de_anio_censo_anterior >>} & \thhl{0.14}{<< de_anio_encuesta_intercensal >>} & \thhl{0.14}{<< de_anio_censo >>} \\
\hline
\endhead

\hline
\multicolumn{4}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{Posición del municipio en la entidad} & \thdr{<< de_marg_pos_entidad_2010 >>} & \thdr{<< de_marg_pos_entidad_2015 >>} & \thdr{<< de_marg_pos_entidad_2020 >>} \\
\hline

\rowcolor{filaResaltada}
\thdr{Posición del municipio a nivel nacional} & \thdr{<< de_marg_pos_nacional_2010 >>} & \thdr{<< de_marg_pos_nacional_2015 >>} & \thdr{<< de_marg_pos_nacional_2020 >>} \\
\hline

Grado de marginación & << de_marg_grado_2010 >> & << de_marg_grado_2015 >> & << de_marg_grado_2020 >> \\
\hline

\% de población de 15 años o más analfabeta & << de_marg_analfabeta_2010 >> & << de_marg_analfabeta_2015 >> & << de_marg_analfabeta_2020 >> \\
\hline

\% de población de 15 años o más sin educación básica & << de_marg_sin_educ_bas_2010 >> & << de_marg_sin_educ_bas_2015 >> & << de_marg_sin_educ_bas_2020 >> \\
\hline

\% de ocupantes en viviendas particulares habitadas sin drenaje ni excusado & << de_marg_sin_drenaje_2010 >> & << de_marg_sin_drenaje_2015 >> & << de_marg_sin_drenaje_2020 >> \\
\hline

\% de ocupantes en viviendas particulares habitadas sin energía eléctrica & << de_marg_sin_energia_2010 >> & << de_marg_sin_energia_2015 >> & << de_marg_sin_energia_2020 >> \\
\hline

\% de ocupantes en viviendas particulares habitadas sin agua entubada & << de_marg_sin_agua_2010 >> & << de_marg_sin_agua_2015 >> & << de_marg_sin_agua_2020 >> \\
\hline

\% de ocupantes en viviendas particulares habitadas con piso de tierra & << de_marg_piso_tierra_2010 >> & << de_marg_piso_tierra_2015 >> & << de_marg_piso_tierra_2020 >> \\
\hline

\% de viviendas particulares con hacinamiento & << de_marg_hacinamiento_2010 >> & << de_marg_hacinamiento_2015 >> & << de_marg_hacinamiento_2020 >> \\
\hline

\% de población que vive en localidades menores a 5 000 habitantes & << de_marg_loc_menos5000_2010 >> & << de_marg_loc_menos5000_2015 >> & << de_marg_loc_menos5000_2020 >> \\
\hline

\% de población ocupada con ingresos de hasta 2 salarios mínimos & << de_marg_hasta2salmin_2010 >> & << de_marg_hasta2salmin_2015 >> & << de_marg_hasta2salmin_2020 >> \\
\hline

\end{longtable}
\normalsize
\tablefooter{Fuente: & CONAPO. Índices de marginación municipal,
<< de_anio_censo_anterior >>, << de_anio_encuesta_intercensal >> y << de_anio_censo >>.}

\newpage
<< de_mapa_indice_marginacion_municipio >>
\newpage

El cuadro \ref{cuadro_grado_marginacion_localidades}
muestra los resultados del Índice de marginación de << de_anio_censo >> y sus indicadores
para las principales localidades del municipio.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Grado de marginación e indicadores sociodemográficos en localidades de << de_municipio_nombre >>}\\
<< de_anio_censo >> \hfill 1a. parte}
\label{cuadro_grado_marginacion_localidades} \\

\hline
\rowcolor{gray!30}
\thh{0.12}{\scriptsize Clave} &
\thh{0.24}{\scriptsize Nombre} &
\thhl{0.08}{\scriptsize Grado} &
\thhl{0.14}{\scriptsize Porcentaje de población de 15 años o más analfabeta} &
\thhl{0.14}{\scriptsize Porcentaje de población de 15 años o más sin educación básica} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin drenaje ni excusado} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin energía eléctrica} \\
\hline
\endfirsthead
\multicolumn{7}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.12}{\scriptsize Clave} &
\thh{0.24}{\scriptsize Nombre} &
\thhl{0.08}{\scriptsize Grado} &
\thhl{0.14}{\scriptsize Porcentaje de población de 15 años o más analfabeta} &
\thhl{0.14}{\scriptsize Porcentaje de población de 15 años o más sin educación básica} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin drenaje ni excusado} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin energía eléctrica} \\
\hline
\endhead

\hline
\multicolumn{7}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{<< de_clave_entidad >>} &
\thdr{Jalisco} &
\thdr{<< de_jal_marg_grado >>} &
\thdr{<< de_jal_marg_analfabeta >>} &
\thdr{<< de_jal_marg_sin_educ_bas >>} &
\thdr{<< de_jal_marg_sin_drenaje >>} &
\thdr{<< de_jal_marg_sin_energia >>} \\
\hline

\rowcolor{filaResaltada}
\thdr{<< de_clave_municipio >>} &
\thdr{<< de_municipio_nombre >>} &
\thdr{<< de_marg_grado_2020 >>} &
\thdr{<< de_marg_analfabeta_pct_2020 >>} &
\thdr{<< de_marg_sin_educ_bas_pct_2020 >>} &
\thdr{<< de_marg_sin_drenaje_pct_2020 >>} &
\thdr{<< de_marg_sin_energia_pct_2020 >>} \\
\hline

<% for loc in de_localidades_marginacion %>
<< loc.clave >> &
<< loc.nombre >> &
<< loc.grado >> &
<< loc.analfabeta >> &
<< loc.sin_educ_bas >> &
<< loc.sin_drenaje >> &
<< loc.sin_energia >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\addtocounter{table}{-1}

\newpage
\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.24\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Grado de marginación e indicadores sociodemográficos en localidades de << de_municipio_nombre >>} \\
<< de_anio_censo >> \hfill 2a. parte y última} \\

\hline
\rowcolor{gray!30}
\thh{0.12}{\scriptsize Clave} &
\thh{0.24}{\scriptsize Nombre} &
\thhl{0.08}{\scriptsize Grado} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin agua entubada} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas con piso de tierra} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas con hacinamiento} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin refrigerador} \\
\hline
\endfirsthead

\multicolumn{7}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.12}{\scriptsize Clave} &
\thh{0.24}{\scriptsize Nombre} &
\thhl{0.08}{\scriptsize Grado} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin agua entubada} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas con piso de tierra} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas con hacinamiento} &
\thhl{0.14}{\scriptsize Porcentaje de ocupantes en viviendas particulares habitadas sin refrigerador} \\
\hline
\endhead

\hline
\multicolumn{7}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{<< de_clave_entidad >>} &
\thdr{Jalisco} &
\thdr{<< de_jal_marg_grado >>} &
\thdr{<< de_jal_marg_sin_agua >>} &
\thdr{<< de_jal_marg_piso_tierra >>} &
\thdr{<< de_jal_marg_hacinamiento >>} &
\thdr{<< de_jal_marg_sin_refrigerador >>} \\
\hline

\rowcolor{filaResaltada}
\thdr{<< de_clave_municipio >>} &
\thdr{<< de_municipio_nombre >>} &
\thdr{<< de_marg_grado_2020 >>} &
\thdr{<< de_marg_sin_agua_pct_2020 >>} &
\thdr{<< de_marg_piso_tierra_pct_2020 >>} &
\thdr{<< de_marg_hacinamiento_pct_2020 >>} &
\thdr{<< de_marg_sin_refrigerador_2020 >>} \\
\hline

<% for loc in de_localidades_marginacion %>
<< loc.clave >> &
<< loc.nombre >> &
<< loc.grado >> &
<< loc.sin_agua >> &
<< loc.piso_tierra >> &
<< loc.hacinamiento >> &
<< loc.sin_refrigerador >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\tablefooter{Nota: & Únicamente se presenta información para las localidades más pobladas del municipio.\\
<% if de_localidades_marginacion_tiene_na %>ND: & No disponible.\\<% endif %>
Fuente: & CONAPO. Índices de marginación por localidad << de_anio_censo >>.}
\newpage

\subsection{Índices sociodemográficos}

El municipio de << de_municipio_nombre >> representó el << de_porcentaje_poblacion >>
del total de la población estatal en << de_anio_censo >>. Con un grado
<< de_grado_marginacion >> de marginación en << de_anio_censo >>, ocupó el lugar
<< de_ranking_marginacion >> entre los municipios del estado.

En cuanto a la pobreza multidimensional, el municipio se localizó en el lugar
<< de_ranking_pobreza_multidimensional >> a nivel estatal, y en porcentaje de población
en situación de pobreza extrema ocupó el lugar << de_ranking_pobreza_extrema >>.

Finalmente, << de_municipio_nombre >> se clasificó con grado << de_grado_intensidad_migratoria >>
de intensidad migratoria en << de_anio_censo >> y se posicionó en el lugar << de_ranking_migracion >>
entre los municipios del estado.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.07\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.15\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.10\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.07\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.06\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.06\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.07\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Población total, grado de marginación, pobreza multidimensional e intensidad migratoria
en la  << nombre_region >>}\\
<< de_anio_censo >>}
\label{cuadro_marginacion_pobreza_migracion} \\

\hline
\rowcolor{gray!30}
\thh{0.07}{\scriptsize Clave} & \thh{0.15}{\scriptsize Municipio} & \thhl{0.10}{\scriptsize Población} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.07\linewidth + 0.08\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\scriptsize\textbf{Marginación}} &
\multicolumn{4}{>{\centering\arraybackslash}m{\dimexpr0.12\linewidth + 0.06\linewidth + 0.14\linewidth + 0.06\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\scriptsize\textbf{Pobreza multidimensional}} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.08\linewidth + 0.07\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\scriptsize\textbf{Intensidad Migratoria}} \\
\rowcolor{gray!30}
 & & & \thhl{0.07}{\scriptsize Grado} & \thhl{0.08}{\scriptsize Lugar} & \thhl{0.12}{\scriptsize Pobreza~(\%)} & \thhl{0.06}{\scriptsize Lugar} & \thhl{0.14}{\scriptsize Pobreza\newline extrema~(\%)} & \thhl{0.06}{\scriptsize Lugar} & \thhl{0.08}{\scriptsize Grado} & \thhl{0.07}{\scriptsize Lugar} \\
\hline
\endfirsthead

\multicolumn{11}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.07}{\scriptsize Clave} & \thh{0.15}{\scriptsize Municipio} & \thhl{0.10}{\scriptsize Población} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.07\linewidth + 0.08\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\scriptsize\textbf{Marginación}} &
\multicolumn{4}{>{\centering\arraybackslash}m{\dimexpr0.12\linewidth + 0.06\linewidth + 0.14\linewidth + 0.06\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\scriptsize\textbf{Pobreza multidimensional}} &
\multicolumn{2}{>{\centering\arraybackslash}m{\dimexpr0.08\linewidth + 0.07\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\scriptsize\textbf{Intensidad Migratoria}} \\
\rowcolor{gray!30}
 & & & \thhl{0.07}{\scriptsize Grado} & \thhl{0.08}{\scriptsize Lugar} & \thhl{0.12}{\scriptsize Pobreza~(\%)} & \thhl{0.06}{\scriptsize Lugar} & \thhl{0.14}{\scriptsize Pobreza\newline extrema~(\%)} & \thhl{0.06}{\scriptsize Lugar} & \thhl{0.08}{\scriptsize Grado} & \thhl{0.07}{\scriptsize Lugar} \\
\hline
\endhead

\hline
\multicolumn{11}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{<< de_clave_entidad >>} & \thdr{Jalisco} & \thdr{<< de_jal_poblacion_2020 >>} & \thdr{<< de_jal_marg_grado >>} & \thdr{<< de_jal_marg_lugar_nacional >>} & \thdr{<< de_pobreza_jal_pct >>} & \thdr{<< de_ranking_pobreza_jal >>} & \thdr{<< de_pobreza_jal_ext_pct >>} & \thdr{<< de_ranking_pobreza_ext_jal >>} & \thdr{<< de_jal_grado_migracion >>} & \thdr{<< de_jal_lugar_migracion >>} \\
\hline

\rowcolor{filaResaltada}
\thdr{<< de_clave_municipio >>} & \thdr{<< de_municipio_nombre >>} & \thdr{<< de_tabla_pob_total_2020 >>} & \thdr{<< de_grado_marginacion >>} & \thdr{<< de_ranking_marginacion >>} & \thdr{<< de_tabla_pobreza_pct >>} & \thdr{<< de_ranking_pobreza_multidimensional >>} & \thdr{<< de_tabla_pobreza_ext_pct >>} & \thdr{<< de_ranking_pobreza_extrema >>} & \thdr{<< de_grado_intensidad_migratoria >>} & \thdr{<< de_ranking_migracion >>} \\
\hline

<% for mun in de_region_municipios %>
<< mun.clave >> & << mun.nombre >> & << mun.poblacion >> & << mun.grado_marginacion >> & << mun.lugar_marginacion >> & << mun.pobreza_pct >> & << mun.pobreza_lugar >> & << mun.pobreza_ext_pct >> & << mun.pobreza_ext_lugar >> & << mun.grado_migracion >> & << mun.lugar_migracion >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\tablefooter{Nota: & La información de los lugares en la fila de Jalisco, corresponde al lugar que ocupa la entidad a nivel nacional con respecto a cada indicador. En el caso de los municipios, corresponde al lugar que ocupa cada municipio a nivel estatal.\\
Fuente: & CONAPO. Índices de marginación << de_anio_censo >>; Índice de Intensidad Migratoria << de_anio_censo >>.\\
& CONEVAL. Pobreza Multidimensional << de_anio_censo >>.\\
& INEGI. Censo de Población y Vivienda << de_anio_censo >>.}
