\newpage
\subsection{Directorio municipal de << nombre_region >>}

<% for m in dm_municipios %>
\noindent\textbf{<< m.municipio >>}\\
\textbf{Correo:}\\
<< m.correo >>\\[\smallskipamount]
\textbf{Presidente:}\\
<< m.presidente >>\\[\smallskipamount]
\textbf{Domicilio:}\\
<< m.domicilio >>\\[\smallskipamount]
\textbf{Teléfono:}\\
<< m.telefono >>\\[\smallskipamount]
\textbf{Síndico(a):}\\
<< m.sindico >>\\[\smallskipamount]
\textbf{Regidores(as):}\\
<% for regidor in m.regidores %>-- << regidor >> \\
<% endfor %>\\[\smallskipamount]
\textbf{Partido político o coalición:}\\
<< m.partido >>\\[\bigskipamount]

<% endfor %>

\noindent\parbox{\linewidth}{\footnotesize
Fuente: SGG. Dirección General de Desarrollo Municipal.}
