\newpage
\subsection*{Directorio municipal}
\textbf{Presidente Municipal << dm_municipio >>}\\
<< dm_presidente >>\\
<< dm_correo >>\\[\smallskipamount]
\textbf{Domicilio}\\
<< dm_domicilio >>\\[\smallskipamount]
\textbf{Teléfono}\\
<< dm_telefono >>\\[\smallskipamount]
\textbf{Síndico (a)}\\
<< dm_sindico >>\\[\smallskipamount]
\textbf{Regidores (as)}\\
<% for regidor in dm_regidores %>-- << regidor >> \\
<% endfor %>\\[\smallskipamount]
\textbf{Partido Político}\\
<< dm_partido >>
