\clearpage
\thispagestyle{empty}
\AddToShipoutPictureBG*{%
  \AtPageUpperLeft{\raisebox{-\height}{\includegraphics[width=\paperwidth]{<< assets_path >>portadilla.png}}}%
  \AtPageLowerLeft{\includegraphics[width=\paperwidth]{<< assets_path >>footer_section.png}}%
}
\vspace*{\stretch{1}}
\begin{center}
  {\color{colorTexto}\bfseries\fontsize{30}{34}\selectfont Economía} \\[2.5em]
  {\color{colorTexto}\lexendsemibold
  \shortstack{
    {\huge << ec_municipio_nombre >>} \\[0.3cm]
    {\huge Agosto 2026}
  }}
\end{center}
\vspace*{\stretch{2}}
\clearpage

\section{Economía}

\subsection{Número de empresas}

Conforme a la actualización de << ec_mes_denue_numero_empresas >> de << ec_anio_denue >>
del Directorio Estadístico Nacional de Unidades Económicas (DENUE) de INEGI, el municipio de
<< ec_municipio_nombre >> contaba en << ec_anio_pasado_denue >> con
<< ec_unidades_economicas >> unidades económicas, lo que representó el
<< ec_porcentaje_unidades_economicas >>  del total de unidades económicas a nivel estatal,
ocupando el lugar << ec_posicion_municipio_establecimientos >> a nivel estatal en número de establecimientos.

El sector con mayor número de unidades económicas en el municipio fue
el de << ec_sector_mayor_unidades >>, representando el << ec_porcentaje_sector_mayor_unidades >>
del total de las unidades económicas en el municipio, seguido del sector de
<< ec_sector_segundo_unidades >> con el << ec_porcentaje_sector_segundo_unidades >>, y el
sector de << ec_sector_tercer_unidades >> con el << ec_porcentaje_sector_tercer_unidades >>.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.20\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.08\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Cantidad de unidades económicas por sector y según composición en << ec_municipio_nombre >>} \\
<< ec_anio_pasado_denue >>}
\label{tabla_denue} \\

\hline
\rowcolor{gray!30}
\thh{0.20}{\scriptsize Sector} &
\thhl{0.08}{\scriptsize 0 a 5 personas} &
\thhl{0.08}{\scriptsize 6 a 10 personas} &
\thhl{0.08}{\scriptsize 11 a 30 personas} &
\thhl{0.08}{\scriptsize 31 a 50 personas} &
\thhl{0.08}{\scriptsize 51 a 100 personas} &
\thhl{0.08}{\scriptsize 101 a 250 personas} &
\thhl{0.08}{\scriptsize 251 y más} &
\thhl{0.12}{\scriptsize Total de unidades económicas} &
\thhl{0.12}{\scriptsize Total de unidades económicas (\%)} \\
\hline
\endfirsthead

\multicolumn{10}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.20}{\scriptsize Sector} &
\thhl{0.08}{\scriptsize 0 a 5 personas} &
\thhl{0.08}{\scriptsize 6 a 10 personas} &
\thhl{0.08}{\scriptsize 11 a 30 personas} &
\thhl{0.08}{\scriptsize 31 a 50 personas} &
\thhl{0.08}{\scriptsize 51 a 100 personas} &
\thhl{0.08}{\scriptsize 101 a 250 personas} &
\thhl{0.08}{\scriptsize 251 y más} &
\thhl{0.12}{\scriptsize Total de unidades económicas} &
\thhl{0.12}{\scriptsize Total de unidades económicas (\%)} \\
\hline
\endhead

\hline
\multicolumn{10}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{Total} & \thdr{<< ec_denue_total_r0a5 >>} & \thdr{<< ec_denue_total_r6a10 >>} & \thdr{<< ec_denue_total_r11a30 >>} & \thdr{<< ec_denue_total_r31a50 >>} & \thdr{<< ec_denue_total_r51a100 >>} & \thdr{<< ec_denue_total_r101a250 >>} & \thdr{<< ec_denue_total_r251mas >>} & \thdr{<< ec_unidades_economicas >>} & \thdr{100.00} \\
\hline

<% for fila in ec_tabla_denue %>
<< fila.sector >> & << fila.r0a5 >> & << fila.r6a10 >> & << fila.r11a30 >> & << fila.r31a50 >> & << fila.r51a100 >> & << fila.r101a250 >> & << fila.r251mas >> & << fila.total >> & << fila.pct_total >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\vspace{-28pt}\noindent\parbox{\linewidth}{\footnotesize
Fuente: INEGI. Directorio Estadístico Nacional de Unidades Económicas, << ec_anio_pasado_denue >>.}

\subsection{Valor agregado censal bruto}

El Valor Agregado Censal Bruto (VACB) es el valor de la producción añadido durante el proceso de trabajo.
Se calcula restando el consumo intermedio (el dinero gastado en los bienes y servicios necesarios para operar) de la producción bruta total.

Conforme a la información de los Censos económicos de << ec_anio_publicacion_ce_anterior >> y de
<< ec_anio_publicacion_ce >>\footnote{Los Censos Económicos de << ec_anio_publicacion_ce_anterior >> y
<< ec_anio_publicacion_ce >>, presentan información del valor agregado censal bruto relativo a
un año anterior al año del censo.} que publicó el INEGI, el valor agregado censal bruto de
<< ec_municipio_nombre >> registró una variación real de << ec_variacion_valor_agregado_censal >>
de << ec_anio_ce_anterior >> a << ec_anio_ce >>.
<< ec_texto_subsectores_vacb >>
<< ec_texto_mayor_crecimiento_vacb >>

\newpage

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.35\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.13\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.13\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.13\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Subsectores con mayor valor agregado censal bruto (VACB) en << ec_municipio_nombre >>} \\
<< ec_anio_ce_anterior >> y << ec_anio_ce >>}
\label{tabla_vacb} \\

\hline
\rowcolor{gray!30}
\thh{0.35}{Subsector} &
\thhl{0.13}{<< ec_anio_ce_anterior >> (millones de pesos)} &
\thhl{0.13}{<< ec_anio_ce >> nominal (millones de pesos)} &
\thhl{0.13}{<< ec_anio_ce >> real (millones de pesos)} &
\thhl{0.12}{Part. (\%)\newline << ec_anio_ce >>} &
\thhl{0.14}{Var. real (\%)\newline << ec_anio_ce_anterior >>--<< ec_anio_ce >>} \\
\hline
\endfirsthead

\multicolumn{6}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.35}{Subsector} &
\thhl{0.13}{<< ec_anio_ce_anterior >> (millones de pesos)} &
\thhl{0.13}{<< ec_anio_ce >> nominal (millones de pesos)} &
\thhl{0.13}{<< ec_anio_ce >> real (millones de pesos)} &
\thhl{0.12}{Part. (\%)\newline << ec_anio_ce >>} &
\thhl{0.14}{Var. real (\%)\newline << ec_anio_ce_anterior >>--<< ec_anio_ce >>} \\
\hline
\endhead

\hline
\multicolumn{6}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{Total} & \thdr{<< ec_vacb_total_anterior >>} & \thdr{<< ec_vacb_total_actual >>} & \thdr{<< ec_vacb_total_real >>} & \thdr{100.00} & \thdr{<< ec_variacion_vacb_total >>} \\
\hline

<% for fila in ec_tabla_vacb %>
<< fila.subsector >> & << fila.vacb_anterior >> & << fila.vacb_actual >> & << fila.vacb_real >> & << fila.pct_part >> & << fila.var_pct >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\tablefooter{Nota: & El cuadro solo presenta información para los subsectores que no están restringidos por principios de confidencialidad.\\
<% if ec_tabla_vacb_tiene_na %>& ND: & No disponible.\\<% endif %>
Fuente: & IIEG, con base en INEGI. Censos Económicos, << ec_anio_publicacion_ce_anterior >> y << ec_anio_publicacion_ce >>.\\
& INEGI. Índice Nacional de Precios al Consumidor. Base segunda quincena julio 2018.\\
& Los valores de << ec_anio_ce >> fueron deflactados a precios de << ec_anio_ce_anterior >> con base en el promedio anual del INPC.}

\newpage

\subsection{Empleo}
\subsubsection*{Trabajadores asegurados en el IMSS}

Información reportada por el Instituto Mexicano del Seguro Social (IMSS) señaló que en
<< ec_mes_corte_imss >> de << ec_anio_corte_imss >> se registraron en << ec_municipio_nombre >> un
total de << ec_total_trabajadores_imss >> trabajadores asegurados en el IMSS, representando el
<< ec_porcentaje_trabajadores_asegurados_jalisco >> del total de trabajadores asegurados en esta
institución en Jalisco.

El número de trabajadores asegurados en << ec_municipio_nombre >> al mes de << ec_mes_corte_imss >> de
<< ec_anio_corte_imss >> representa una variación anual de << ec_porcentaje_variacion_asegurados >>
en comparación con el número de trabajadores que se tenían registrados al mes de
<< ec_mes_corte_imss >> de << ec_anio_anterior_corte_imss >>.

El grupo económico que más empleos presentó dentro del municipio de << ec_municipio_nombre >>
fue el de << ec_grupo_ec_con_mas_empleos >>, ya que a << ec_mes_corte_imss >> de
<< ec_anio_corte_imss >> registró un total de << ec_num_trabajadores_grupo_mayor >> trabajadores,
concentrando el << ec_porcentaje_trabajadores_grupo_mayor >> del total de asegurados en el municipio.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.30\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.10\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.10\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.10\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.11\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.15\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.14\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Trabajadores asegurados por grupo económico en << ec_municipio_nombre >>} \\
<< ec_mes_corte_imss|capitalize >> << ec_dos_anios_atras_corte_imss >>, << ec_anio_anterior_corte_imss >>
y << ec_anio_corte_imss >>}
\label{tabla_imss_grupos} \\

\hline
\rowcolor{gray!30}
\thh{0.30}{Grupo económico} &
\thhl{0.10}{<< ec_mes_corte_imss|capitalize >>\newline << ec_dos_anios_atras_corte_imss >>} &
\thhl{0.10}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_anterior_corte_imss >>} &
\thhl{0.10}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_corte_imss >>} &
\thhl{0.11}{Part. (\%)} &
\thhl{0.15}{Var. nominal << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} &
\thhl{0.14}{Var. (\%) << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} \\
\hline
\endfirsthead

\multicolumn{7}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.30}{Grupo económico} &
\thhl{0.10}{<< ec_mes_corte_imss|capitalize >>\newline << ec_dos_anios_atras_corte_imss >>} &
\thhl{0.10}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_anterior_corte_imss >>} &
\thhl{0.10}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_corte_imss >>} &
\thhl{0.11}{Part. (\%)} &
\thhl{0.15}{Var. nominal << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} &
\thhl{0.14}{Var. (\%) << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} \\
\hline
\endhead

\hline
\multicolumn{7}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{Total} & \thdr{<< ec_total_trabajadores_imss_t2 >>} & \thdr{<< ec_total_trabajadores_imss_t1 >>} & \thdr{<< ec_total_trabajadores_imss >>} & \thdr{100.00} & \thdr{<< ec_total_var_nominal_imss >>} & \thdr{<< ec_var_pct_total_imss >>} \\
\hline

<% for fila in ec_tabla_imss_grupos %>
<< fila.grupo >> & << fila.t2 >> & << fila.t1 >> & << fila.t0 >> & << fila.pct_part >> & << fila.var_nominal >> & << fila.var_pct >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\tablefooter{<% if ec_tabla_imss_grupos_tiene_na %>ND: & No disponible.\\
<% endif %>Fuente: & IIEG, con base en IMSS. Datos abiertos de Trabajadores Asegurados, << ec_dos_anios_atras_corte_imss >>,
<< ec_anio_anterior_corte_imss >> y << ec_anio_corte_imss >>.}

\newpage

\subsubsection*{Trabajadores asegurados en el IMSS en la << nombre_region >>}

En << ec_mes_corte_imss >> de << ec_anio_corte_imss >>, << ec_municipio_nombre >> se presenta en el lugar
<< ec_posicion_municipio_region >>  dentro de la << nombre_region >> en número de trabajadores asegurados, concentrando el
<< ec_porcentaje_asegurados_region >> del total.

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.28\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}
                  >{\raggedleft\arraybackslash}m{\dimexpr0.16\linewidth - 2\tabcolsep\relax}}

\caption{\textbf{Trabajadores asegurados por municipio en la << nombre_region >>} \\
<< ec_mes_corte_imss|capitalize >> de << ec_anio_anterior_corte_imss >> y << ec_anio_corte_imss >>}
\label{tabla_imss_region} \\

\hline
\rowcolor{gray!30}
\thh{0.28}{Municipio} &
\thhl{0.12}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_anterior_corte_imss >>} &
\thhl{0.12}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_corte_imss >>} &
\thhl{0.16}{Part. (\%)\newline << ec_mes_corte_imss|capitalize >> << ec_anio_corte_imss >>} &
\thhl{0.16}{Var. nominal << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} &
\thhl{0.16}{Var. (\%) << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} \\
\hline
\endfirsthead

\multicolumn{6}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.28}{Municipio} &
\thhl{0.12}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_anterior_corte_imss >>} &
\thhl{0.12}{<< ec_mes_corte_imss|capitalize >>\newline << ec_anio_corte_imss >>} &
\thhl{0.16}{Part. (\%)\newline << ec_mes_corte_imss|capitalize >> << ec_anio_corte_imss >>} &
\thhl{0.16}{Var. nominal << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} &
\thhl{0.16}{Var. (\%) << ec_anio_anterior_corte_imss >>--<< ec_anio_corte_imss >>} \\
\hline
\endhead

\hline
\multicolumn{6}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

\rowcolor{filaResaltada}
\thdr{<< ec_municipio_nombre >>} & \thdr{<< ec_trabajadores_imss_t1 >>} & \thdr{<< ec_total_trabajadores_imss >>} & \thdr{<< ec_pct_asegurados_region_tabla >>} & \thdr{<< ec_var_nominal_imss >>} & \thdr{<< ec_var_pct_imss_tabla >>} \\
\hline
<% for fila in ec_tabla_imss_region %>
<< fila.municipio >> & << fila.t1 >> & << fila.total >> & << fila.pct_part >> & << fila.var_nominal >> & << fila.var_pct >> \\
\hline
<% endfor %>

\end{longtable}
\normalsize
\tablefooter{Fuente: & IIEG, con base en IMSS. Datos abiertos de Trabajadores Asegurados, << ec_anio_anterior_corte_imss >>
y << ec_anio_corte_imss >>.}

\newpage
<% if ec_agropecuario_activa %>
\subsection{Agricultura y ganadería}

<% if ec_agricola_activa %>
La información sobre producción agrícola que reporta la Secretaría de Agricultura y Desarrollo Rural a
través de la Dirección General del Servicio de Información Agroalimentaria y Pesquera, señala que el valor
de la producción agrícola de << ec_municipio_nombre >> en << ec_anio_corte_sagarpa >> fue de
<< ec_valor_produccion_agricola >> millones de pesos, lo que representó el
<< ec_porcentaje_respecto_al_estado_agricola >> del valor total de la producción estatal.

\vspace{0.3cm}
<< ec_grafica_agricultura >>
<% endif %>

<% if ec_pecuaria_activa %>
El valor de la producción pecuaria \footnote{La producción pecuaria comprende productos provenientes de ganado bovino, caprino, ovino y porcino, así como de abejas, aves.} en << ec_municipio_nombre >> en << ec_anio_corte_sagarpa >>
fue de << ec_valor_produccion_ganado >> millones de pesos, y representó el
<< ec_porcentaje_respecto_al_estado_ganado >> del total estatal.

\vspace{0.3cm}
<< ec_grafica_ganaderia >>
<% endif %>
<% endif %>
