\clearpage
\thispagestyle{empty}
\AddToShipoutPictureBG*{%
  \includegraphics[width=\paperwidth,height=\paperheight]{templates/assets/portada.png}%
}
\vspace*{5cm}
\begin{center}
  {\color{colorTexto}\bfseries\fontsize{23}{26}\selectfont Historia} \\[2.5em]
  {\color{colorTexto}\lexendsemibold
  \shortstack{
    {\LARGE << de_municipio_nombre >>} \\[0.3cm]
    {\LARGE Diagnóstico del municipio} \\[0.3cm]
    {\LARGE Agosto 2026}
  }}
\end{center}
\clearpage

\section{Historia}

\subsection{Toponimia}

<< hi_toponimia >>

<< hi_mapa_localizacion >>

\newpage

\subsection{Contexto histórico}

<< hi_contexto_historico >>
