\clearpage
\thispagestyle{empty}
\AddToShipoutPictureBG*{%
  \AtPageUpperLeft{\raisebox{-\height}{\includegraphics[width=\paperwidth]{<< assets_path >>portadilla.png}}}%
  \AtPageLowerLeft{\includegraphics[width=\paperwidth]{<< assets_path >>footer_section.png}}%
}
\vspace*{\stretch{1}}
\begin{center}
  {\color{colorTexto}\bfseries\fontsize{32}{26}\selectfont Historia} \\[3cm]
  {\color{colorTexto}\lexendsemibold
  \shortstack{
    {\Huge << de_municipio_nombre >>} \\[0.3cm]
    {\Huge Agosto 2026}
  }}
\end{center}
\vspace*{\stretch{1}}
\clearpage

\section{Historia}

\subsection{Toponimia}

<< hi_toponimia >>

<< hi_mapa_localizacion >>

\newpage

\subsection{Contexto histórico}

<< hi_contexto_historico >>
