\clearpage
\thispagestyle{empty}
\phantomsection
\addcontentsline{toc}{section}{Historia}
\AddToShipoutPictureBG*{%
  \AtPageUpperLeft{\raisebox{-\height}{\includegraphics[width=\paperwidth]{<< assets_path >>portadilla.png}}}%
  \AtPageLowerLeft{\includegraphics[width=\paperwidth]{<< assets_path >>footer_section.png}}%
}
\vspace*{\stretch{1}}
\begin{center}
  {\color{colorSeccion}\bfseries\fontsize{30}{34}\selectfont Historia} \\[3cm]
  {\color{colorTexto}\lexendsemibold
  \shortstack{
    {\huge << de_municipio_nombre >>} \\[0.3cm]
    {\huge Agosto 2026}
  }}
\end{center}
\vspace*{\stretch{2}}
\clearpage

\subsection{Toponimia}

<< hi_toponimia >>

\subsection{Contexto histórico}

<< hi_contexto_historico >>

\newpage

<< hi_mapa_localizacion >>
