\documentclass[12pt, letterpaper]{report}

% Encoding and language
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[spanish, provide=*]{babel}

% Margins
\usepackage[top=2.5cm, bottom=2.5cm, left=2.5cm, right=2.5cm]{geometry}

% Fonts
\usepackage{lmodern}

% Colors
\usepackage[dvipsnames]{xcolor}
\definecolor{primary}{HTML}{1A3A5C}
\definecolor{accent}{HTML}{C8102E}

% Graphics and figures
\usepackage{graphicx}
\usepackage{float}

% Tables
\usepackage{booktabs}
\usepackage{tabularx}
\usepackage{multirow}
\usepackage{makecell}
\usepackage{colortbl}
\usepackage{array}
\definecolor{headerBg}{HTML}{1A3A5C}
\definecolor{subheaderBg}{HTML}{2E6DA4}
\definecolor{rowHighlight}{HTML}{D6E4F0}

% Headers and footers
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhf{}
\fancyhead[L]{\textcolor{primary}{\small Jalisco en cifras}}
\fancyhead[R]{\textcolor{primary}{\small \leftmark}}
\fancyfoot[C]{\thepage}

% Hyperlinks
\usepackage[hidelinks]{hyperref}

\begin{document}

<% block content %><% endblock %>

\end{document}
