% !TEX program = xelatex
\documentclass[11pt]{report}

\usepackage{fontspec}
\usepackage{xcolor}
\usepackage[table]{xcolor}
\usepackage{etoolbox}
\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage{geometry}
\usepackage{setspace}
\usepackage{siunitx}
\usepackage{float}
\usepackage{tikz}
\usepackage{eso-pic}
\usepackage[spanish]{babel}
\usepackage{threeparttable}
\usepackage{adjustbox}
\usepackage{array}
\usepackage{makecell}
\usepackage{booktabs}
\usepackage{multirow}
\usepackage[bottom]{footmisc}
\usepackage[hidelinks]{hyperref}
\usepackage{xurl}
\usepackage{etoc}
\usepackage{varwidth} % must be loaded after array
\usepackage{tabularx}
\usepackage{longtable}
\usepackage{needspace}
\usepackage{caption}
\DeclareCaptionFormat{tablaformat}{\color{colorTexto}#1\newline#3}
\captionsetup[longtable]{format=tablaformat, justification=raggedright, singlelinecheck=false, skip=5pt, labelsep=none}
\captionsetup[figure]{format=tablaformat, justification=raggedright, singlelinecheck=false, skip=5pt, labelsep=none}

% Columna de ancho igual para longtable de N columnas (descuenta reglas)
% Uso: >{\centering\arraybackslash}\ltcoleq{N}
\newcommand{\ltcoleq}[1]{p{\dimexpr(\linewidth - (#1+1)\arrayrulewidth)/#1 - 2\tabcolsep\relax}}


\setcounter{secnumdepth}{-1}
\setcounter{tocdepth}{2}

\etocsetstyle{section}
  {}
  {\vspace{3pt}}
  {\noindent\footnotesize\textbf{\color{colorTexto}%
   \expandafter\MakeUppercase\expandafter{\etocname}}%
   \dotfill\footnotesize\textbf{\color{colorTexto}\etocpage}\par}
  {}

\etocsetstyle{subsection}
  {}
  {}
  {\hspace{1.0em}\footnotesize\color{colorTexto}\etocname\par\vspace{2pt}}
  {}

\addto\captionsspanish{
  \renewcommand{\tablename}{Cuadro}
  \renewcommand{\thetable}{\arabic{table}}
  \renewcommand{\figurename}{Mapa}
  \renewcommand{\thefigure}{\arabic{figure}}
}

\setmainfont[
  UprightFont = {Lexend-Regular.ttf},
  BoldFont = {Lexend-Bold.ttf},
  ItalicFont = {Lexend-Regular.ttf},
  BoldItalicFont = {Lexend-Bold.ttf},
  Path = << fonts_path >>
]{Lexend}
\newfontfamily\lexendlight[
  Path = << fonts_path >>
]{Lexend-Light.ttf}
\newfontfamily\lexendsemibold[
  Path = << fonts_path >>
]{Lexend-SemiBold.ttf}
\newfontfamily\lexendextrabold[
  Path = << fonts_path >>
]{Lexend-ExtraBold.ttf}
\newfontfamily\lexendmedium[
  Path = << fonts_path >>
]{Lexend-Medium.ttf}
\newfontfamily\garetextrabold[
  Path = << fonts_path >>
]{Garet-Extra-Bold.otf}
\newfontfamily\garetmedium[
  Path = << fonts_path >>
]{Garet-Medium.otf}
\definecolor{colorSeccion}{HTML}{5C2472}
\definecolor{colorTexto}{HTML}{465055}
\definecolor{headerGray}{HTML}{7A7A7A}
\definecolor{lightGray}{HTML}{D9D9D9}
\definecolor{headerBg}{HTML}{5C2472}
\definecolor{subheaderBg}{HTML}{7A4A8A}
\definecolor{rowHighlight}{HTML}{FFF3CD}
\definecolor{filaResaltada}{HTML}{FFEACE}
\definecolor{primary}{HTML}{5C2472}
\definecolor{accent}{HTML}{465055}

\urlstyle{same}
\hypersetup{
  colorlinks=true,
  urlcolor=colorSeccion,
  linkcolor=colorTexto,
  citecolor=colorTexto,
}

\newcommand{\ND}{\textcolor{red}{N/D}}
\newcommand{\thdr}[1]{\textbf{\color{colorTexto}#1}}
\newcommand{\thdl}[1]{\textbf{\color{colorTexto}#1}}
\newcommand{\thh}[2]{\multicolumn{1}{>{\raggedright\arraybackslash}m{\dimexpr#1\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\vspace{5pt}\begin{varwidth}{\dimexpr#1\textwidth - 2\tabcolsep\relax}\bfseries #2\end{varwidth}\vspace{5pt}}}
\newcommand{\thhl}[2]{\multicolumn{1}{>{\raggedleft\arraybackslash}m{\dimexpr#1\linewidth - 2\tabcolsep\relax}}{\cellcolor{gray!30}\vspace{5pt}\begin{varwidth}{\dimexpr#1\textwidth - 2\tabcolsep\relax}\raggedleft\bfseries #2\end{varwidth}\vspace{5pt}}}
% El pie va DENTRO de la tabla, en \endlastfoot, para que longtable cuente su altura
% al decidir donde parte. Asi el corte lo toma longtable durante la composicion y salen
% (continua), (continuacion) y los encabezados; si el pie no cabe, baja con filas.
% \tablefooter es la version suelta, para los pies de grafica y de mapa.
\newcommand{\tablefooterbody}[1]{\noindent{\footnotesize
  \renewcommand{\arraystretch}{1.0}%
  \begin{tabularx}{\linewidth}[t]{@{}l@{\hspace{0.5em}}X@{}}#1\end{tabularx}%
  \renewcommand{\arraystretch}{1.5}}}
\newcommand{\tablefooter}[1]{\vspace{-28pt}\tablefooterbody{#1}}
\newcommand{\tablefooterrow}[2]{%
  \multicolumn{#1}{@{}p{\linewidth}@{}}{\tablefooterbody{#2}}\\}

% \LT@output ya sabe bajar el ultimo pie con marcas de continuacion si no cabe, pero
% mide solo la ALTURA de \LT@lastfoot e ignora su profundidad. Con un pie de varias
% lineas eso se queda corto y el pie termina solo en la pagina siguiente. Los dos
% parches le suman \dp\LT@lastfoot a la comparacion.
\makeatletter
\patchcmd{\LT@output}{\ifdim \ht\LT@lastfoot>\ht\LT@foot}
  {\ifdim \dimexpr\ht\LT@lastfoot+\dp\LT@lastfoot\relax>\ht\LT@foot}
  {}{\PackageWarning{cuadernillos}{no se pudo parchar LT@output (guarda)}}
\patchcmd{\LT@output}{\advance\dimen@-\ht\LT@lastfoot}
  {\advance\dimen@-\ht\LT@lastfoot\advance\dimen@-\dp\LT@lastfoot}
  {}{\PackageWarning{cuadernillos}{no se pudo parchar LT@output (medida)}}

% Cuando decide que no cabe, longtable manda TODA la pagina con \LT@foot y abre la
% siguiente con \LT@head y el pie: encabezado y pie solos, sin una sola fila. Con el
% \vsplit se parte el material a la altura que si cabe, asi que las filas sobrantes
% bajan con el pie en vez de dejar la pagina vacia.
\patchcmd{\LT@output}{\setbox\@cclv\vbox{\unvbox\z@\copy\LT@foot\vss}}
  {\splittopskip\z@\vbadness\@M\vfuzz\maxdimen
   \setbox\tw@\vsplit\z@ to\dimen@
   \setbox\@cclv\vbox{\unvbox\tw@\copy\LT@foot\vss}}
  {}{\PackageWarning{cuadernillos}{no se pudo parchar LT@output (vsplit)}}
\patchcmd{\LT@output}{\setbox\z@\vbox{\box\LT@head}}
  {\setbox\z@\vbox{\box\LT@head\unvbox\z@}}
  {}{\PackageWarning{cuadernillos}{no se pudo parchar LT@output (resto)}}
\makeatother

\newcommand{\tablafit}[1]{%
  \Needspace*{\dimexpr #1\baselineskip * 7 / 5 + 6\baselineskip\relax}}

\newcounter{grafica}
\newcounter{mapa}
\newcommand{\graficatitulo}[1]{%
  \refstepcounter{grafica}%
  \noindent{\color{colorTexto}Gráfica \thegrafica\\
  \textbf{#1}}\par\vspace{4pt}}
\newlength{\mapbleed}
\setlength{\mapbleed}{0.9cm}
\newlength{\mapheadroom}
\setlength{\mapheadroom}{1.6cm}
% \mapatitulo imprime el titulo en su lugar; \mapatitulo* solo lo guarda para que lo
% dibuje \mapageo. Los mapas de geografia se escalan con \adjustbox y, cuando los limita
% la altura, salen mas angostos que el recuadro con sangrado: si el titulo se imprimiera
% por su cuenta quedaria alineado al recuadro y no al mapa.
\makeatletter
\newsavebox{\mapa@box}
\newcommand{\mapa@titulo}{}
\newcommand{\mapa@guardar}[1]{%
  \refstepcounter{mapa}%
  \gdef\mapa@titulo{Mapa \themapa. #1}}
\newcommand{\mapa@imprimir}[2][0pt]{%
  \refstepcounter{mapa}%
  \noindent\hspace*{-#1}%
  \parbox{\dimexpr\linewidth+#1+#1\relax}{%
    \color{colorTexto}\raggedright Mapa \themapa. #2}\par
  \vspace{-\parskip}\vspace{1pt}}
\newcommand{\mapatitulo}{\@ifstar\mapa@guardar\mapa@imprimir}
% #1 ancho maximo de la imagen, #2 sangrado, #3 ruta. El titulo va en un minipage del
% ancho REAL del mapa, medido con el \sbox: si al mapa lo limita la altura sale mas
% angosto que su caja y un titulo impreso aparte quedaria alineado a la caja, no al mapa.
\newcommand{\mapabloque}[3]{%
  \sbox\mapa@box{\adjustbox{max width=#1,
    max height=\dimexpr\textheight-\mapheadroom\relax}{\includegraphics{#3}}}%
  \noindent\hspace*{-#2}%
  \makebox[\dimexpr\linewidth+#2+#2\relax][c]{%
    \begin{minipage}{\wd\mapa@box}%
      \noindent{\color{colorTexto}\raggedright\mapa@titulo}\par\vspace{1pt}%
      \usebox\mapa@box
    \end{minipage}}\par}
\newcommand{\mapageo}[1]{%
  \mapabloque{\dimexpr\textwidth+2\mapbleed\relax}{\mapbleed}{#1}}
\newcommand{\mapafijo}[2][0.95\textwidth]{\mapabloque{#1}{0pt}{#2}}
\makeatother
\newcommand{\mapafuente}[1]{%
  \par\vspace{-4pt}\noindent{\footnotesize
  \renewcommand{\arraystretch}{1.0}%
  \begin{tabularx}{\linewidth}[t]{@{}l@{\hspace{0.5em}}X@{}}#1\end{tabularx}}}

\AtBeginDocument{
  \color{colorTexto}
}
\makeatletter
\renewcommand{\@makefnmark}{\hbox{\textsuperscript{\color{colorTexto}\@thefnmark}}}
\renewcommand{\@makefntext}[1]{%
  \noindent\hb@xt@1.8em{\hss\color{colorTexto}\@makefnmark}~\color{colorTexto}#1}
\makeatother

\usepackage{titlesec}
\titleformat{\section}
  {\color{colorSeccion}\normalfont\Huge\bfseries}
  {}{0pt}{}
\titleformat{name=\subsection,numberless}
  {\color{colorSeccion}\normalfont\LARGE\bfseries}
  {}{0pt}{}
\titleformat{\subsection}
  {\color{colorSeccion}\normalfont\LARGE\bfseries}
  {}{0pt}{}
\titleformat{\subsubsection}
  {\color{colorSeccion}\normalfont\Large\bfseries}
  {}{0pt}{}
\titleformat{name=\subsubsection,numberless}
  {\color{colorSeccion}\normalfont\Large\bfseries}
  {}{0pt}{}

\setstretch{1.25}
\renewcommand{\arraystretch}{1.5}
\setlength{\parskip}{0.3cm}
\setlength{\parindent}{0pt}

\geometry{
  left=2.5cm,
  right=2.5cm,
  top=2.4cm,
  bottom=2.4cm,
  headheight=2cm,
  headsep=0.4cm,
  footskip=1.8cm
}

% Version del cuadernillo. Aparece al pie de cada pagina, a la derecha; las portadas
% usan \thispagestyle{empty} y no la llevan.
\newcommand{\versioncuadernillo}{v01 - 31/08/2026}

\pagestyle{fancy}
\fancyhf{}

\fancyhead[L]{\includegraphics[height=1.25cm]{<< assets_path >>logo_header.png}}
\fancyhead[R]{\color{colorTexto}\footnotesize Página \thepage}
\fancyfoot[L]{\includegraphics[height=1.23cm]{<< assets_path >>logo_footer.png}}
\fancyfoot[R]{\color{colorTexto}\footnotesize\versioncuadernillo}

\setlength{\headheight}{2cm}
\setlength{\headsep}{0.4cm}
\setlength{\footskip}{1.8cm}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

\begin{document}

<% block content %><% endblock %>

\end{document}
