\clearpage
\subsection*{Bitácora de versiones}

\setlength{\tabcolsep}{3pt}
\footnotesize
\begin{longtable}{>{\raggedright\arraybackslash}m{\dimexpr0.12\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.15\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.53\linewidth - 2\tabcolsep\relax}
                  >{\raggedright\arraybackslash}m{\dimexpr0.20\linewidth - 2\tabcolsep\relax}}

\hline
\rowcolor{gray!30}
\thh{0.12}{Versión} & \thh{0.15}{Fecha} &
\thh{0.53}{Descripción del cambio} & \thh{0.20}{Página} \\
\hline
\endfirsthead

\multicolumn{4}{l}{\small\textbf{(continuación)}} \\
\hline
\rowcolor{gray!30}
\thh{0.12}{Versión} & \thh{0.15}{Fecha} &
\thh{0.53}{Descripción del cambio} & \thh{0.20}{Página} \\
\hline
\endhead

\hline
\multicolumn{4}{r}{\small\textbf{(continúa)}} \\
\endfoot

\hline
\endlastfoot

v\versionnumero & \versionfecha & Creación del documento & No aplica \\
\hline

\end{longtable}
\normalsize
