% !TEX program = xelatex
\documentclass[11pt]{article}

\usepackage{fontspec}
\usepackage{xcolor}
\usepackage[table]{xcolor}
\usepackage{etoolbox}
\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage{geometry}
\usepackage{setspace}
\usepackage{siunitx}
\usepackage{float}
\usepackage{tikz}
\usepackage{eso-pic}
\usepackage[spanish]{babel}
\usepackage{threeparttable}
\usepackage{array}
\usepackage{makecell}
\usepackage{booktabs}

\addto\captionsspanish{
  \renewcommand{\tablename}{Tabla}
  \renewcommand{\thetable}{\arabic{table}}
}

\setmainfont{Lexend}
\newfontfamily\lexendlight{Lexend Light}
\newfontfamily\lexendsemibold{Lexend SemiBold}
\definecolor{colorSeccion}{HTML}{5C2472}
\definecolor{colorTexto}{HTML}{465055}
\definecolor{headerGray}{HTML}{7A7A7A}
\definecolor{lightGray}{HTML}{D9D9D9}

\AtBeginDocument{
  \color{colorTexto}
}

\usepackage{titlesec}
\titleformat{\section}
  {\color{colorSeccion}\normalfont\large\bfseries}
  {}{0pt}{}

\setstretch{1.3}

\geometry{
  left=2.5cm,
  right=2.5cm,
  top=3cm,
  bottom=3cm,
  headheight=2cm,
  headsep=1cm,
  footskip=1.2cm
}

\pagestyle{fancy}
\fancyhf{}

% HEADER
\fancyhead[L]{\hspace{-1cm}\raisebox{-0.3cm}{\includegraphics[height=1.5cm]{assets/logo_header.png}}}
\fancyhead[R]{\color{colorTexto}\footnotesize Página \thepage}
% FOOTER
\fancyfoot[L]{\hspace{-1cm}\raisebox{-1cm}{\includegraphics[height=1.5cm]{assets/logo_footer.png}}}

% Ajustes de espacio
\setlength{\headheight}{2cm}
\setlength{\headsep}{1cm}
\setlength{\footskip}{1.2cm}
% Quita línea horizontal del header que aparece por defecto
\renewcommand{\headrulewidth}{0pt}

\begin{document}

\newgeometry{margin=0cm}

% Imagen de fondo
\AddToShipoutPictureBG*{
\begin{tikzpicture}[remember picture, overlay]
    \node at (current page.center) {
        \includegraphics[width=\paperwidth,height=\paperheight]{assets/portada.png}
    };
\end{tikzpicture}
}

% Texto encima
\begin{tikzpicture}[remember picture, overlay]

    % Título principal
    \node at (current page.center) [
        yshift=3cm,
        align=center,
        text width=0.8\paperwidth
    ] {
        {\color{colorTexto}\bfseries\fontsize{23}{26}\selectfont Demografía y sociedad}
    };

    % Subtítulo (3 líneas)
    \node at (current page.center) [
        yshift=-.5cm,
        align=center
    ] {
        {\color{colorTexto}\fontsize{16}{30}\lexendsemibold
        \shortstack{
            nombre-municipio \\[0.3cm]
            Diagnóstico del municipio\\[0.3cm]
            Agosto 2026
        }}
    };

\end{tikzpicture}

\vspace*{\fill} % asegura página completa
\clearpage

\restoregeometry % vuelve a márgenes normales para el resto del documento
\section{Aspectos Demográficos}

Conforme a la información del Censo de Población y Vivienda que publicó INEGI, 
el municipio de  \verb|<< de_municipio_nombre >>| tenía una población de \verb|<< de_poblacion_total_censo >>| 
personas en \verb|<< de_anio_censo >>|, de las cuales el \verb|<< de_porcentaje_hombres >>| por ciento eran 
hombres y \verb|<< de_porcentaje_mujeres >>| por ciento mujeres. 

En comparación con la población que tenía \verb|<< de_municipio_nombre >>| en \verb|<< de_anio_encuesta_intercensal >>|, 
se observa una variación de \verb|<< de_variacion_poblacion_quinquenio_anterior >>| personas, que representa una 
variación relativa de \verb|<< de_variacion_porcentual_poblacion_quinquenio_anterior >>| por ciento en cinco años.

En comparación con \verb|<< de_anio_censo_anterior >>|, la población municipal tuvo una variación de
\verb|<< de_variacion_poblacion_quinquenio >>| personas, representando una variación de
\verb|<< de_variacion_porcentual_poblacion_quinquenio >>|\% de \verb|<< de_anio_censo_anterior >>| a \verb|<< de_anio_censo >>|.

\begin{table}[H]
\label{tabla_poblacion_total_sexo}
\centering
\begin{threeparttable}
\caption{Población total por sexo y variaciones}
\renewcommand{\arraystretch}{1.3}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|c|c|c|c|c|c|c|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{7}{|c|}{\color{white}de\_municipio\_nombre, de\_anio\_censo\_anterior, de\_anio\_encuesta\_intercensal, de\_anio\_censo} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
 & de\_anio\_censo\_anterior & de\_anio\_encuesta\_intercensal &de\_anio\_censo & Variación \% de\_anio\_censo\_anterior - de\_anio\_encuesta\_intercensal & Variación \% de\_anio\_encuesta\_intercensal - de\_anio\_censo\\
\hline

Mujeres &  &  &  &  &  \\
\hline

Hombres &  &  &  &  &  \\
\hline

\rowcolor{orange!20}
Total &  &  &  &  &  \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda \verb|<< de_anio_censo >>| y
Encuesta Intercensal \verb|<< de_anio_censo_anterior >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage

En \verb|<< de_anio_censo >>|, \verb|<< de_municipio_nombre >>| contaba con \verb|<< de_numero_localidades >>| 
localidades. La localidad de \verb|<< de_loc_mas_poblada >>| era la más poblada en el municipio, con
\verb|<< de_loc_mas_poblada_habitantes >>| personas, concentrando el \verb|<< de_porcentaje_habitantes_loc_mas_poblada >>|\% 
de la población del municipio.

\begin{table}[H]
\label{tabla_localidades_mas_pobladas}
\centering
\begin{threeparttable}
\caption{Localidades más pobladas}
\setlength{\tabcolsep}{3pt}

\begin{tabular}{|>{\centering\arraybackslash}m{1.2cm}
                |>{\centering\arraybackslash}m{3cm}
                |>{\centering\arraybackslash}m{2.5cm}
                |c|>{\centering\arraybackslash}m{3.5cm}|c|c|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{6}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
Clave & \makecell{Municipio/ \\ Localidad} & 
\makecell{Población \\ de\_anio\_censo\_anterior} &
\makecell{Población \\ de\_anio\_censo} &
\makecell{\% Distribución \\ de\_anio\_censo} &
\makecell{\% Variación \\ de\_anio\_censo\_anterior - de\_anio\_censo} \\
\hline

% FILAS
\rowcolor{orange!20}
 & de\_municipio\_nombre &  &  &  &  \\
\hline
 & de\_municipio\_nombre & & & & \\
\hline
 &  & & & & \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda \verb|<< de_anio_censo_anterior >>| y
\verb|<< de_anio_censo >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage

\section{Intensidad migratoria}
El Índice de Intensidad Migratoria México-Estados-Unidos \verb|<< de_anio_censo >>|, que publicó el 
Consejo Nacional de Población (CONAPO), mide de manera sintética el fenómeno migratorio entre ambos países. 

De acuerdo con este índice, Jalisco se clasificó con un grado \verb|<< de_grado_intensidad_migratoria_jal >>| 
de intensidad migratoria, ocupando el lugar \verb|<< de_ranking_jal_migracion >>| entre las entidades 
federativas con mayor intensidad migratoria en \verb|<< de_anio_censo >>|. 

Conforme a los datos procesados para la estimación del índice, en \verb|<< de_anio_censo >>| un 
\verb|<< de_porcentaje_viviendas_remesas_jal >>|\% de  viviendas de Jalisco recibían remesas, un 
\verb|<< de_porcentaje_emigrantes_jal >>|\% de viviendas tenían emigrantes con destino a Estados Unidos 
residentes en Estados Unidos, un \verb|<< de_porcentaje_migrantes_circulares_jal >>|\% de viviendas tenían 
migrantes circulares y un \verb|<< de_porcentaje_migrantes_retorno_jal >>|\% de las viviendas contaban con 
migrantes de retorno de Estados Unidos.

En \verb|<< de_anio_censo >>| el municipio de \verb|<< de_municipio_nombre >>| tuvo un grado 
\verb|<< de_grado_intensidad_migratoria_mun >>| de intensidad migratoria y se ubicó en el lugar 
\verb|<< de_ranking_mun_migracion >>| con mayor intensidad migratoria dentro de los municipios del estado 
de Jalisco. Durante este año, un \verb|<< de_porcentaje_viviendas_remesas_mun >>|\% de las viviendas 
del municipio recibieron remesas, en un \verb|<< de_porcentaje_emigrantes_mun >>|\% se reportaron emigrantes 
con destino a Estados Unidos residentes en Estados Unidos, en el \verb|<< de_porcentaje_migrantes_circulares_mun >>|\% 
de las viviendas se registraron migrantes circulares del quinquenio anterior (\verb|<< de_anio_encuesta_intercensal >>|
-\verb|<< de_anio_censo >>|) y el \verb|<< de_porcentaje_migrantes_retorno_mun >>|\% de las viviendas 
contaban con migrantes de retorno de Estados Unidos (ver tabla \ref{tabla_intensidad_migratoria_eua}).

En el cálculo del índice del año \verb|<< de_anio_censo_anterior >>|, \verb|<< de_municipio_nombre >>| 
tenía un grado \verb|<< de_grado_intensidad_migratoria_anterior_mun >>| de intensidad migratoria y ocupaba 
el lugar \verb|<< de_ranking_anterior_mun_migracion >>| con mayor grado dentro de los municipios del estado de Jalisco. 

\newpage

\begin{table}[H]
\label{tabla_intensidad_migratoria_eua}
\centering
\begin{threeparttable}
\caption{Índice de Intensidad Migratoria México-Estados Unidos}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|l|c|c|}
\hline

% Encabezado superior
\rowcolor{colorSeccion}
\multicolumn{3}{|c|}{\color{white}\textbf{de\_municipio\_nombre, de\_anio\_censo\_anterior y de\_anio\_censo}} \\
\hline

% Subtítulo
\rowcolor{gray!50}
Índice y grado de intensidad migratoria e indicadores socioeconómicos & de\_anio\_censo\_anterior & de\_anio\_censo \\
\hline

Índice de intensidad migratoria & & \\
\hline
Grado de intensidad migratoria & & \\
\hline
Total de viviendas & & \\
\hline
\% Viviendas que reciben remesas & & \\
\hline
\% Viviendas con emigrantes con destino a Estados Unidos & & \\
\hline
\% Viviendas con migrantes circulares de Estados Unidos & & \\
\hline
\% Viviendas con migrantes de retorno de Estados Unidos & & \\
\hline
Posición que ocupa el municipio en la entidad & & \\
\hline
Posición que ocupa el municipio a escala nacional & & \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda 
\verb|<< de_anio_censo_anterior >>| y \verb|<< de_anio_censo >>|.
\item *Nota: los indicadores hacen referencia al quinquenio \verb|<< de_anio_encuesta_intercensal >>|- 
\verb|<< de_anio_censo >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage
\verb|<< de_mapa_grado_intensidad_migratoria >>|
\newpage

\section{Pobreza multidimensional}

La metodología para medir el fenómeno de la pobreza fue desarrollada por el Consejo Nacional 
de Evaluación de la Política de Desarrollo Social (CONEVAL) y permite profundizar en el estudio 
de la pobreza considerando tanto los ingresos cómo las carencias sociales desde una óptica 
de los derechos sociales. 

De acuerdo con esta concepción, una persona se considera en situación de pobreza multidimensional 
cuando sus ingresos son insuficientes para adquirir los bienes y servicios que se requieren para 
satisfacer las necesidades básicas, y que además presenta carencia en al menos uno de los 
siguientes seis indicadores: rezago educativo, acceso a los servicios de salud, acceso a la 
seguridad social, calidad y espacios de la vivienda, servicios básicos en la vivienda, y 
acceso a la alimentación.

Conforme a la medición de pobreza multidimensional de \verb|<< de_anio_censo >>|, 
el \verb|<< de_porcentaje_pobreza >>| por ciento de la población 
de \verb|<< de_municipio_nombre >>| se encontraba en situación de pobreza, 
es decir, \verb|<< de_poblacion_pobreza >>| personas estaban en esa condición 
en el municipio. El \verb|<< de_porcentaje_vulnerabilidad_carencias >>| por ciento 
(\verb|<< de_poblacion_vulnerabilidad_carencias >>| personas) de la población de 
\verb|<< de_municipio_nombre >>| era vulnerable 
por carencias sociales\footnote{Vulnerables por carencias sociales se refiere a 
la población que presenta una o más carencias sociales, pero cuyo ingreso es 
superior a la línea de bienestar.}, el \verb|<< de_porcentaje_vulnerabilidad_ingresos >>| 
por ciento era vulnerable por ingresos\footnote{Vulnerables por ingresos se refiere 
a la población que no presenta carencias sociales y cuyo ingreso es inferior o igual 
a la línea de bienestar.} y  \verb|<< de_porcentaje_no_pobre_no_vulnerable >>| 
por ciento era no pobre y no vulnerable\footnote{No pobre multidimensional y no 
vulnerable se refiere a la población cuyo ingreso es superior a la línea de bienestar 
y que no tiene carencia social alguna.}.

En \verb|<< de_anio_censo >>|, el \verb|<< de_porcentaje_pobreza_extrema >>| por ciento de la 
población de \verb|<< de_municipio_nombre >>| se encontraba en pobreza extrema\footnote{Pobreza 
extrema se refiere a la población que tiene tres o más carencias sociales y su ingreso 
es inferior al valor de la línea de pobreza extrema por ingresos.}; 
en contraste con el \verb|<< de_porcentaje_pobreza_extrema_intercensal >>| por ciento que se presentó
en \verb|<< de_anio_encuesta_intercensal >>|. En \verb|<< de_anio_censo >>| un 
\verb|<< de_porcentaje_pobreza_moderada >>| por ciento de la 
población estaba en pobreza moderada, lo que equivale a \verb|<< de_poblacion_pobreza_moderada >>| 
personas, mientras que en \verb|<< de_anio_encuesta_intercensal >>| la proporción fue de 
\verb|<< de_porcentaje_pobreza_moderada_intercensal >>| por ciento 
(\verb|<< de_poblacion_pobreza_moderada_intercensal >>| personas).

En las tablas \ref{tabla_pobreza_multidimensional_1} y \ref{tabla_pobreza_multidimensional_2} se muestra 
el porcentaje y número de personas en situación de pobreza 
en \verb|<< de_anio_encuesta_intercensal >>| y \verb|<< de_anio_censo >>| en el municipio, 
así como la población vulnerable por carencias sociales, la vulnerable por ingresos y 
la no pobre y no vulnerable.

\begin{table}[H]
\label{tabla_pobreza_multidimensional_1}
\centering
\small
\begin{threeparttable}
\caption{Pobreza Multidimensional (Parte 1): Indicadores generales}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|>{\centering\arraybackslash}m{6cm}
                >{\centering\arraybackslash}m{1.3cm}
                >{\centering\arraybackslash}m{1.3cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.8cm}
                >{\centering\arraybackslash}m{1.8cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{7}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
\textbf{Indicadores de incidencia} &  
\multicolumn{2}{c}{\textbf{Porcentaje}} & 
\multicolumn{2}{c}{\textbf{Personas}} & 
\multicolumn{2}{c}{\textbf{Carencias promedio}} \\
\cline{2-7}

% Encabezado fila 2
\rowcolor{gray!30}
 & \textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_censo} & \textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_censo} & \textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_censo} \\
\hline

% FILAS
\rowcolor{orange!20}
\textbf{Pobreza multidimensional} & & & & & & \\
\hline

Población en situación de pobreza multidimensional 
& & & & & & \\
\hline

Población en situación de pobreza multidimensional moderada 
& & & & & & \\
\hline

Población en situación de pobreza multidimensional extrema
& & & & & & \\
\hline

Población vulnerable por carencias sociales
& & & & & & \\
\hline

Población vulnerable por ingresos 
& & & & & & \\
\hline

Población no pobre multidimensional y no vulnerable
& & & & & & \\
\hline

\rowcolor{orange!20}
\textbf{Privación social} & & & & & & \\
\hline

Población con al menos una carencia social
& & & & & & \\
\hline

Población con al menos tres carencias sociales
& & & & & & \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda 2010 y
2020.
\item *Nota: los indicadores hacen referencia al quinquenio 2015-\verb|<< de_anio_censo >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage

\begin{table}[H]
\label{tabla_pobreza_multidimensional_2}
\centering
\small
\begin{threeparttable}
\caption{Pobreza Multidimensional (Parte 2): Indicadores de carencias y bienestar}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|>{\centering\arraybackslash}m{6cm}
                >{\centering\arraybackslash}m{1.3cm}
                >{\centering\arraybackslash}m{1.3cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.8cm}
                >{\centering\arraybackslash}m{1.8cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{7}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
\textbf{Indicadores de incidencia} &  
\multicolumn{2}{c}{\textbf{Porcentaje}} & 
\multicolumn{2}{c}{\textbf{Personas}} & 
\multicolumn{2}{c}{\textbf{Carencias promedio}} \\
\cline{2-7}

% Encabezado fila 2
\rowcolor{gray!30}
 & \textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_censo} & \textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_censo} & \textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_censo} \\
\hline

\rowcolor{orange!20}
\textbf{Indicadores de carencia social} & & & & & & \\
\hline

Rezago educativo
& & & & & & \\
\hline

Acceso a los servicios de salud
& & & & & & \\
\hline

Acceso a la seguridad social
& & & & & & \\
\hline

Calidad y espacios de la vivienda
& & & & & & \\
\hline

Acceso a los servicios básicos en la vivienda
& & & & & & \\
\hline

Acceso a la alimentación
& & & & & & \\
\hline

\rowcolor{orange!20}
\textbf{Bienestar} & & & & & & \\
\hline

Población con un ingreso inferior a la línea de bienestar mínimo 
& & & & & & \\
\hline

Población con un ingreso inferior a la línea de bienestar 
& & & & & & \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda 
\verb|<< de_anio_censo_anterior >>| y \verb|<< de_anio_censo >>|.
\item *Nota: los indicadores hacen referencia al quinquenio \verb|<< de_anio_encuesta_intercensal >>|- 
\verb|<< de_anio_censo >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage
\verb|<< de_mapa_porcentaje_pobreza_multidimensional >>|
\newpage

\section{Marginación}

El Consejo Nacional de Población  publica el Índice de Marginación como una medida resumen 
que permite diferenciar los estados y municipios del país según el impacto global de las 
carencias que padece la población considerando cuatro dimensiones estructurales: falta de 
acceso a la educación, residencia en viviendas inadecuadas, percepción de ingresos monetarios 
insuficientes y las relacionadas con la residencia en localidades pequeñas. De acuerdo con 
las estimaciones de \verb|<< de_anio_censo >>| del Índice de Marginación, Jalisco 
presentó un grado de marginación \verb|<< de_grado_marginacion_jalisco >>| en \verb|<< de_anio_censo >>|.

En \verb|<< de_anio_censo >>| el municipio de \verb|<< de_municipio_nombre >>| presentó 
un grado de marginación \verb|<< de_grado_marginacion_municipio >>|, colocándose en el 
lugar \verb|<< de_ranking_marginacion_municipio >>| dentro de los municipios de la entidad.  
En \verb|<< de_anio_encuesta_intercensal >>| su grado fue \verb|<< de_grado_marginacion_intercensal_mun >>| 
y ocupó el lugar \verb|<< de_ranking_marginacion_intercensal_mun >>|, mientras que en el año 
\verb|<< de_anio_censo_anterior >>| su grado de marginación fue \verb|<< de_grado_marginacion_anterior >>|
y ocupó el lugar \verb|<< de_ranking_marginacion_censo_anterior >>| a nivel estatal.

La tabla \ref{tabla_marginacion_indicadores} presenta la evolución que ha tenido el municipio en 
las tres mediciones del índice de marginación, tanto en el valor general del índice como en los 
indicadores que lo componen.  

\begin{table}[H]
\label{tabla_marginacion_indicadores}
\centering
\begin{threeparttable}
\caption{Índice y grado de marginación e indicadores sociodemográficos}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|>{\centering\arraybackslash}m{9cm}
                >{\centering\arraybackslash}m{1.8cm}
                >{\centering\arraybackslash}m{1.8cm}
                >{\centering\arraybackslash}m{1.8cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{4}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 2
\rowcolor{gray!30}
\textbf{de\_anio\_censo\_anterior} & \textbf{de\_anio\_encuesta\_intercensal} & \textbf{de\_anio\_censo} & \\
\hline

\rowcolor{orange!20}
Índice de marginación & & &  \\
\hline

\rowcolor{orange!20}
Posición del municipio en la entidad & & &  \\
\hline

\rowcolor{orange!20}
Posición del municipio a nivel nacional & & &  \\
\hline

Grado de marginación
& & &  \\
\hline

\% de población de 15 años o más analfabeta
& & &  \\
\hline

\% de población de 15 años o más sin educación básica
& & &  \\
\hline

\% de ocupantes en viviendas particulares habitadas sin drenaje ni excusado
& & &  \\
\hline

\% de ocupantes en viviendas particulares habitadas sin energía eléctrica
& & &  \\
\hline

\% de ocupantes en viviendas particulares habitadas sin agua entubada
& & &  \\
\hline

\% de ocupantes en viviendas particulares habitadas con piso de tierra
& & &  \\
\hline

\% de viviendas particulares con hacinamiento
& & &  \\
\hline

\% de población que vive en localidades menores a 5 000 habitantes
& & &  \\
\hline

\% de población ocupada con ingresos de hasta 2 salarios mínimos
& & &  \\

\hline


\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG con base en los Índices de marginación municipal, 
\verb|<< de_anio_censo_anterior >>|, \verb|<< de_anio_encuesta_intercensal >>| 
y \verb|<< de_anio_censo >>|, CONAPO. 
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage
\verb|<< de_mapa_indice_marginacion_municipio >>|
\newpage

Las tablas \ref{tabla_indice_marginacion_localidades_1} y \ref{tabla_grado_marginacion_localidades_2} 
muestran los resultados del Índice de marginación de \verb|<< de_anio_censo >>| y sus indicadores 
para las principales localidades del municipio. 

\begin{table}[H]
\label{tabla_grado_marginacion_localidades_1}
\centering
\begin{threeparttable}
\caption{Grado de marginación e indicadores sociodemográficos en localidades más pobladas 
en el municipio (Parte 1)}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|>{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{2.2cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{2.5cm}
                >{\centering\arraybackslash}m{2.5cm}
                >{\centering\arraybackslash}m{2.5cm}
                >{\centering\arraybackslash}m{2.5cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{7}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
Clave &  
Nombre & 
Grado & 
Porcentaje de población de 15 años o más analfabeta &
Porcentaje de población de 15 años o más sin educación básica &
Porcentaje de ocupantes en viviendas particulares habitadas sin drenaje ni excusado &
Porcentaje de ocupantes en viviendas particulares habitadas sin energía eléctrica \\
\hline

\rowcolor{orange!20}
 & Jalisco & & & & & \\
\hline

\rowcolor{orange!20}
 & de\_municipio\_nombre & & & & & \\
\hline

&  &  &  &  &  & \\

\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG con base en el Índice de marginación por localidad \verb|<< de_anio_censo >>|, CONAPO.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage

\begin{table}[H]
\label{tabla_grado_marginacion_localidades_2}
\centering
\begin{threeparttable}
\caption{Grado de marginación e indicadores sociodemográficos en localidades más pobladas 
en el municipio (Parte 2)}
\setlength{\tabcolsep}{6pt}

\begin{tabular}{|>{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{2.2cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{2.5cm}
                >{\centering\arraybackslash}m{2.5cm}
                >{\centering\arraybackslash}m{2.5cm}
                >{\centering\arraybackslash}m{2.5cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{7}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
Clave &  
Nombre & 
Grado & 
Porcentaje de ocupantes en viviendas particulares habitadas sin agua entubada &
Porcentaje de ocupantes en viviendas particulares habitadas con piso de tierra &
Porcentaje de ocupantes en viviendas particulares habitadas con hacinamiento &
Porcentaje de ocupantes en viviendas particulares habitadas sin refrigerador \\
\hline

\rowcolor{orange!20}
 & Jalisco & & & & & \\
\hline

\rowcolor{orange!20}
 & de\_municipio\_nombre & & & & & \\
\hline

&  &  &  &  &  & \\

\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG con base en el Índice de marginación por localidad \verb|<< de_anio_censo >>|, CONAPO.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage

\section{Índices Sociodemográficos}

El municipio de \verb|<< de_municipio_nombre >>| representó el \verb|<< de_porcentaje_poblacion >>| 
por ciento del total de la población estatal en \verb|<< de_anio_censo >>|. Con un grado 
\verb|<< de_grado_marginacion >>| de marginación en \verb|<< de_anio_censo >>|, ocupó el lugar 
\verb|<< de_ranking_marginacion >>| entre los municipios del estado más marginados.

En cuanto a la pobreza multidimensional, el municipio se localizó en el lugar 
\verb|<< de_ranking_pobreza_multidimensional >>| a nivel estatal, y en porcentaje de población 
en situación de pobreza extrema ocupó el lugar \verb|<< de_ranking_pobreza_extrema >>|.

Finalmente, \verb|<< de_municipio_nombre >>| se clasificó con grado \verb|<< de_grado_intensidad_migratoria >>| 
de intensidad migratoria en \verb|<< de_anio_censo >>| y se posicionó en el lugar \verb|<< de_ranking_migracion >>| 
entre los municipios del estado con mayor valor en el índice. 

\begin{table}[H]
\label{tabla_marginacion_pobreza_migracion_1}
\centering
\small
\begin{threeparttable}
\caption{ Población total, Grado de Marginación, Pobreza multidimensional e Intensidad Migratoria (Parte 1)}
\setlength{\tabcolsep}{3pt}

\begin{tabular}{|>{\centering\arraybackslash}m{1cm}
                >{\centering\arraybackslash}m{1.6cm}
                >{\centering\arraybackslash}m{1.7cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.3cm}
                >{\centering\arraybackslash}m{1.3cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{11}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
 & 
 &
 &   
\multicolumn{2}{c}{\textbf{Marginación}} & 
\multicolumn{4}{c}{\textbf{Pobreza multidimensional}} & 
\multicolumn{2}{c}{\textbf{Intensidad migratoria}} \\
\cline{4-11}

% Encabezado fila 2
\rowcolor{gray!30}
Clave & Municipio & Población & Grado & Lugar & Pobreza & Lugar & Pobreza extrema & Lugar & Grado & Lugar\\
\hline

& Jalisco & & & & & & & & & \\

% FILAS
\rowcolor{orange!20}
& de\_municipio\_nombre & & & & & & & & & \\
\hline

& & & & & & & & & & \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda \verb|<< de_anio_censo_anterior >>| y
\verb|<< de_anio_censo >>|.
\item *Nota: los indicadores hacen referencia al quinquenio \verb|<< de_anio_encuesta_intercensal >>|-\verb|<< de_anio_censo >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\newpage

\begin{table}[H]
\label{tabla_marginacion_pobreza_migracion_2}
\centering
\small
\begin{threeparttable}
\caption{ Población total, Grado de Marginación, Pobreza multidimensional e Intensidad Migratoria (Parte 2)}
\setlength{\tabcolsep}{3pt}

\begin{tabular}{|>{\centering\arraybackslash}m{1cm}
                >{\centering\arraybackslash}m{1.6cm}
                >{\centering\arraybackslash}m{1.7cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.5cm}
                >{\centering\arraybackslash}m{1.2cm}
                >{\centering\arraybackslash}m{1.3cm}
                >{\centering\arraybackslash}m{1.3cm}|}
\hline

% Subtítulo
\rowcolor{colorSeccion}
\multicolumn{11}{|c|}{\color{white}de\_municipio\_nombre, Jalisco} \\
\hline

% Encabezado fila 1
\rowcolor{gray!30}
 & 
 &
 &   
\multicolumn{2}{c}{\textbf{Marginación}} & 
\multicolumn{4}{c}{\textbf{Pobreza multidimensional}} & 
\multicolumn{2}{c}{\textbf{Intensidad migratoria}} \\
\cline{4-11}

% Encabezado fila 2
\rowcolor{gray!30}
Clave & Municipio & Población & Grado & Lugar & Pobreza & Lugar & Pobreza extrema & Lugar & Grado & Lugar\\
\hline

& Jalisco & & & & & & & & & \\

% FILAS
\rowcolor{orange!20}
& de\_municipio\_nombre & & & & & & & & & \\
\hline

& & & & & & & & & & \\
\hline

\end{tabular}
\begin{tablenotes}
\small
\item Elaboración del IIEG, con datos de INEGI, Censo de Población y Vivienda 
\verb|<< de_anio_censo_anterior >>| y \verb|<< de_anio_censo >>|.
\item *Nota: los indicadores hacen referencia al quinquenio 
\verb|<< de_anio_encuesta_intercensal >>|-\verb|<< de_anio_censo >>|.
\end{tablenotes}
\end{threeparttable}
\end{table}

\end{document}