<% extends "base.tex.j2" %>

<% block content %>

\clearpage
\thispagestyle{empty}
\AddToShipoutPictureBG*{%
  \includegraphics[width=\paperwidth,height=\paperheight]{templates/assets/portada.png}%
}
\vspace*{5cm}
\begin{center}
<% if escudo_path %>
  \includegraphics[height=3.5cm]{<< escudo_path >>}\\[1.7cm]
<% endif %>
  {\color{colorSeccion}\garetextrabold\fontsize{36}{48}\selectfont
   << de_municipio_nombre >>}\\[0.6cm]
  {\color{colorTexto}\garetmedium\fontsize{14}{18}\selectfont
   \addfontfeature{LetterSpace=22.0}CUADERNILLO MUNICIPAL}\\[2.2cm]
  {\color{colorTexto}\garetextrabold\fontsize{16}{20}\selectfont
   \addfontfeature{LetterSpace=22.0}AGOSTO 2026}
\end{center}
\vfill
\begin{center}
  \versionetiqueta
\end{center}
% Deja el hueco justo para el logo de Jalisco de la portada.
\vspace*{1.45cm}
\clearpage

\etocsettocstyle{%
  \begingroup
  \setlength{\parskip}{0pt}%
  \setstretch{1.1}%
  \noindent{\color{colorSeccion}\bfseries\huge << de_municipio_nombre >>}\par
  \vspace{0.4cm}
  \noindent{\color{colorTexto}\huge Cuadernillo municipal}\par
  \vspace{0.6cm}
  \noindent{\color{colorTexto}\LARGE Agosto 2026}\\[-4pt]
  \noindent\rule{\textwidth}{0.4pt}\par
  \vspace{0.15cm}
}{\endgroup}
\tableofcontents
\newpage

<% include "sections/historia.tex.j2" %>
<% include "sections/geografia.tex.j2" %>
<% include "sections/demografia.tex.j2" %>
<% include "sections/economia.tex.j2" %>
<% include "sections/gobierno_y_seguridad.tex.j2" %>
<% include "sections/directorio_municipal.tex.j2" %>
<% include "bitacora.tex.j2" %>

\clearpage
\thispagestyle{empty}
\AddToShipoutPictureBG*{%
  \includegraphics[width=\paperwidth,height=\paperheight]{<< assets_path >>contra_portada.png}%
}
\null
\clearpage

<% endblock %>
